# Shared ignores from paymentpointers.org
.github
.astro
node_modules
public
dist
**/*.min.css
**/*.min.js

# Don't disagree with W3C style on the spec
src/pages/specification

# MDX files with Disclosure components that require specific indentation
src/content/docs/developers/about-receiving.mdx
