.codeBlock {
  position: relative;
  margin-bottom: var(--space-s);
}

.codeBlock.codeBlock.codeBlock pre {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0;
}

.codeBlock p {
  margin-top: var(--space-s);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  font-size: var(--step--1);
  font-weight: bold;
  padding: var(--space-2xs) var(--space-xs);
  background-color: var(--astro-code-color-background);
  border-bottom: 1px solid var(--sl-color-gray-5);
}

.btn {
  position: absolute;
  top: var(--space-l);
  right: var(--space-2xs);
  border: 1px solid var(--sl-color-gray-5);
  border-radius: var(--border-radius);
  padding: var(--space-3xs);
  transition: opacity 150ms ease-in;
  opacity: 0;
  cursor: pointer;
}

.btnIcons {
  display: flex;
  height: 1.125rem;
  position: relative;
  width: 1.125rem;
}

.btn:focus-visible,
.btn:hover,
.copied {
  opacity: 1;
}

.codeBlock:hover .btn {
  opacity: 0.4;
}

.btnSuccessIcon,
.btnIcon {
  fill: currentColor;
  height: inherit;
  left: 0;
  opacity: inherit;
  position: absolute;
  top: 0;
  transition: all 200ms ease;
  width: inherit;
}

.btnSuccessIcon {
  color: #00d600;
  left: 50%;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.33);
  margin-top: 0;
}

.copied .btnSuccessIcon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 75ms;
}

.copied .btnIcon {
  opacity: 0;
  transform: scale(0.33);
}
