---
const { plugins } = Astro.props;

const findStartWith = (array: any[], arg: string) => {
  return (
    array.find((value: string) => {
      return value.startsWith(arg)
    }) !== undefined
  )
}
---
<table class="plugins">
  <thead>
    <tr>
      <th class="cellLeft">Name</th>
      <th class="cellCenter">v2.0</th>
      <th class="cellCenter">v1.0</th>
      <th class="cellCenter">GitHub</th>
    </tr>
  </thead>
  <tbody>
    {plugins.map((plugin: {name: string, desc: string, version: String[], link: string}) => (
      <tr>
        <td>
          <strong>{plugin.name}</strong>
          <br />
          {plugin.desc}
        </td>
        <td class="cellCenter">
          {findStartWith(plugin.version, '2.') ? '✅' : '❌'}
        </td>
        <td class="cellCenter">
          {findStartWith(plugin.version, '1.') ? '✅' : '❌'}
        </td>
        <td class="cellCenter">
          <a href={plugin.link}>
            <img
              alt={`Link to ${plugin.name}'s GitHub repo`}
              src='/img/icon-github.svg'
              class="icon--github"
            />
          </a>
        </td>
      </tr>
    ))}
  </tbody>
</table>

<style>
  .plugins td {
    vertical-align: top;
  }
.cellLeft {
  text-align: left;
}

.cellCenter {
  text-align: center;
}

.icon--github {
  width: 2em;
  margin-inline: auto;
}
</style>
