---
import i18next, { t, changeLanguage } from "i18next";
import Base from "../../layouts/Base.astro";
import ProbRevshareGenerator from "../../components/pages/ProbRevshare";

changeLanguage("zh");

const title = `Probabilistic Revshare Generator | ${t("site.title")}`;
const description = t("site.description");
---
<Base title={title} description={description}>
  <section class="section">
    <div class="contentWrapperMd">
      <h1 class="heading2">Probabilistic Revshare Generator</h1>
      <p>Probabilistic revenue sharing (revshare) is one way to share a portion of a web monetized page’s earnings between multiple payment pointers.</p> 
      <p>Use this tool to define a list of payment pointers and their weights. Then, add the generated monetization <code>link</code> element to your site. The <code>link</code> will contain a unique <code>href</code> URL hosted on  <code>https://webmonetization.org/api/revshare/pay/</code>.</p>
      <p>To learn more about how probabilistic revenue sharing works, check out our guide for <a href="/docs/guides/set-up-probabilistic-revenue-sharing" target="_blank">setting up probabilistic revenue sharing</a>. The guide describes how to include revshare on your site by adding a script, but the concepts remain the same.</p>
      <h2 class="heading3">Define a new revshare</h2>
      <p>Enter each payment pointer that will receive a split of the revenue. Names are optional. Click <b>Add Share</b> to add more rows.</p>
      <p>Set either a weight or a percent for each payment pointer. Adjusting a field causes the others to update automatically. Note that the Percent field can’t be adjusted until there’s at least two payment pointers added to the table.</p>
      <p>As you adjust weights and percentages, the <code>link</code> element generated below will change. Don’t copy the <code>link</code> until you’re finished. Then, <a href="/docs/guides/monetize-page" target="_blank">add the link</a> to your site.</p>
      <ProbRevshareGenerator client:load />
    </div>
  </section>
</Base>

<style>
p {
  margin-bottom: var(--space-s);
}
</style>
