/* custom css */
h2 {
    font-size: 40px;
}

.homeContainer {
    background: #282C34;
    padding: 2em 2em;
    overflow: hidden;
}

.nav-footer {
    padding: 2em;
}

.bgLogo {
    position: absolute;
    margin-left: 60px;
    margin-top: -20px;
}

.projectTitle {
    color: #FFFFFF;
    font-weight: normal;
}

.projectTitle > small {
    font-weight: 300;
    opacity: 0.6;
    line-height: 1.4em;
    font-size: 21px;
    letter-spacing: 0.03em;
}

.inner {
    max-width: 560px;
    margin: auto;
}

.splashFooter {
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 45px 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.splashFooter > div {
    max-width: 532px;
    font-size: 17px;
}

.splashFooter a {
    color: #FFFFFF;
    text-decoration: underline;
}

.contentBlock {
    border-bottom: 1px solid #E3E5E9;
}

.contentContainer {
    max-width: 532px;
    margin: auto;
    padding: 0 2em 5em 2em;
}

.contentContainer p {
    color: #636975;
    font-size: 17px;
}

.cardBlock {
    text-align: center;
    padding: 0 2em 5em 2em;
}

.cardBlock p {
    color: #636975;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    font-size: 14px;
    color: #636975;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px;
    width: 258px;
    height: 110px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin: 8px;
}

.card a {
    color: dodgerblue;
}

.resources a {
    color: dodgerblue;
}

.resourceContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.resourceContainer + p {
    color: #A4A8B1;
}

.resource {
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
}

.resource:first-child {
    margin-left: 0;
}

.resource:last-child {
    margin-right: 0;
}

.resource p {
    color: #636975;
}

.metaTagContainer {
    max-width: 800px;
}

.metaTagContainer p {
    color: #636975;
}

#paymentPointerForm {
    display: flex;
    margin-bottom: 15px;
}

.paymentPointerInput {
    height: 56px;
    color: #A4A8B1;
    background: #F5F6F8;
    border-radius: 4px;
    padding: 16px 24px;
    font-size: 17px;
    border: 0;
    flex: 1;
    font-family: $myOtherFont;
}

#generateButton {
    height: 56px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    background: #0080FF;
    margin-left: 16px;
    padding-left: 26px;
    padding-right: 26px;
    cursor: pointer;
    font-family: $myOtherFont;
}

.metaTagOutput {
    margin-top: 50px;
    line-height: 2.5em;
}

#metaTag {
    padding: 18px 50px 18px 24px;
    display: block;
    line-height: 2em;
    position: relative;
    background: #F7F8F9;
}

#copyIcon {
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}

@media only screen and (max-device-width: 736px) {
    .bgLogo {
        display: none;
    }

    .resourceContainer {
        flex-direction: column;
    }

    .resource {
        margin: 0;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .cardContainer {
        flex-direction: row;
    }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
