:root {
  --step--1: clamp(0.8rem, calc(0.7rem + 0.44vw), 0.95rem);
  --step-0: clamp(1rem, calc(0.88rem + 0.56vw), 1.19rem);
  --step-1: clamp(1.25rem, calc(1.09rem + 0.69vw), 1.48rem);
  --step-2: clamp(1.56rem, calc(1.37rem + 0.87vw), 1.86rem);
  --step-3: clamp(1.95rem, calc(1.71rem + 1.09vw), 2.32rem);
  --step-4: clamp(2.44rem, calc(2.14rem + 1.36vw), 2.9rem);
  --step-5: clamp(3.05rem, calc(2.67rem + 1.69vw), 3.62rem);
  --space-3xs: clamp(0.25rem, calc(0.21rem + 0.19vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.42rem + 0.37vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.67rem + 0.37vw), 0.88rem);
  --space-s: clamp(1rem, calc(0.88rem + 0.56vw), 1.19rem);
  --space-m: clamp(1.5rem, calc(1.29rem + 0.93vw), 1.81rem);
  --space-l: clamp(2rem, calc(1.75rem + 1.11vw), 2.38rem);
  --space-xl: clamp(3rem, calc(2.63rem + 1.67vw), 3.56rem);
  --space-2xl: clamp(4rem, calc(3.5rem + 2.22vw), 4.75rem);
  --space-3xl: clamp(6rem, calc(5.25rem + 3.33vw), 7.13rem);
  --ifm-color-primary: #0080ff;
  --ifm-color-primary-dark: #0073e6;
  --ifm-color-primary-darker: #006dd9;
  --ifm-color-primary-darkest: #005ab3;
  --ifm-color-primary-light: #1a8dff;
  --ifm-color-primary-lighter: #2693ff;
  --ifm-color-primary-lightest: #4da6ff;
  --ifm-color-secondary: #282c34;
  --ifm-color-secondary-dark: #24282f;
  --ifm-color-secondary-darker: #22252c;
  --ifm-color-secondary-darkest: #1c1f24;
  --ifm-color-secondary-light: #2c3039;
  --ifm-color-secondary-lighter: #2e333c;
  --ifm-color-secondary-lightest: #343944;
  --ifm-global-spacing: var(--space-s);
  --ifm-footer-link-color: var(--ifm-color-emphasis-300);
}

.plugin-pages .main-wrapper {
  font-size: var(--step-0);
}

/* Typography styles */
.heading--1 {
  font-size: var(--step-4);
}

.heading--2 {
  font-size: var(--step-3);
}

.heading--3 {
  font-size: var(--step-2);
}

.heading--4 {
  font-size: var(--step-1);
}

.body-text {
  font-size: var(--step-0);
}

/* Page layout styles */
body {
  min-width: 360px;
}

section {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.footer {
  background-color: var(--ifm-color-secondary);
  color: var(--ifm-color-secondary-contrast-background);
}

/* Navigation styles */
.navbar {
  font-size: initial;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--ifm-color-black);
  color: var(--ifm-color-white);

  padding-left: 20px;
  padding-right: 20px;
}

.navbar__title {
  font-size: 20px;
  font-weight: 600;
  color: var(--ifm-color-white);
  margin-right: auto;
}

.hide {
  display: none;
}

.navbar__link {
  font-weight: 300;
  color: var(--ifm-color-gray-200);
}

.navbar__link:hover {
  color: var(--ifm-color-gray-0);
}

.DocSearch-Button.DocSearch-Button {
  border-radius: 0px;
  background-color: var(--ifm-color-black);
}

.DocSearch-Button.DocSearch-Button:hover {
  background-color: var(--ifm-color-black);
  color: var(--ifm-color-white);
  box-shadow: none;
}

.DocSearch-Button .DocSearch-Search-Icon.DocSearch-Search-Icon {
  color: var(--ifm-color-gray-200);
}

/* Home page styles */
.home-hero {
  color: var(--ifm-color-white);
  background-color: var(--ifm-color-secondary);
  background-image: url('/img/wm-logo--grey.svg');
  background-repeat: no-repeat;
  background-position: 100% 60%;
  background-size: 60vw;
  text-align: center;
  padding-bottom: 0;
}

@media screen and (min-aspect-ratio: 3 / 4) {
  .home-hero {
    background-size: 40vmin;
    background-position: 85%;
  }
}

.home-hero > div {
  padding-bottom: var(--space-l);
}

.home-hero h1 {
  font-weight: var(--ifm-font-weight-normal);
}

.home-hero p {
  font-weight: var(--ifm-font-weight-normal);
  margin: 0;
}

.home-hero__tagline {
  color: var(--ifm-color-gray-500);
  line-height: 1.39;
}

.home-hero__icon {
  width: 120px;
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.home-hero__footer {
  background-color: var(--ifm-color-black);
  padding: var(--space-m);
}

.home-hero__footer a {
  color: var(--ifm-color-white);
  text-decoration: underline;
}

.home-section {
  border-bottom: var(--ifm-hr-height) solid var(--ifm-hr-background-color);
}

.home-section-header {
  text-align: center;
}

.home-cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  margin-bottom: var(--space-s);
  justify-content: center;
}

[class*='home-card--'] {
  display: flex;
  align-items: center;
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  overflow: initial;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: var(--ifm-global-radius);
}

[class*='home-card--'] {
  padding: var(--space-s);
}

[class*='home-card--']::after {
  content: '';
  border-radius: var(--ifm-global-radius);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

[class*='home-card--']:hover::after {
  opacity: 1;
}

.home-card--basic {
  max-width: 16em;
  justify-content: center;
  width: 100%;
}

.home-card--basic img {
  width: 100%;
}

.home-card--wide {
  flex: 0 1 100%;
  max-width: 30em;
}

@media screen and (min-width: 900px) {
  .home-card--wide {
    flex: 0 1 calc(50% - 1em);
  }
}

.home-card--wide {
  gap: var(--space-s);
  color: var(--ifm-color-secondary-lightest);
}

.home-card__logo {
  max-width: 5em;
  height: auto;
}

.home-card__content h3 {
  margin-bottom: var(--space-3xs);
}

.home-card__content p {
  font-size: var(--step--1);
  margin-bottom: 0;
}

.home-cta {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  margin-bottom: var(--space-s);
  justify-content: center;
}

.home-cta p {
  margin: 0;
}

.home-cta a {
  white-space: nowrap;
}

.icon--merge {
  width: 1em;
}

/* Link tag generator page styles */
.tag-generator-form {
  display: flex;
  gap: var(--space-s);
  margin-bottom: var(--space-s);
}

.tag-generator__btn {
  height: 56px;
}

/* Exclusive content page styles */
button.content-generator__btn {
  margin-top: var(--space-s);
}

/* Probabilistic Revshare Generator page styles */
.revshareChart {
  /* TODO: can we accomplish this without covering inputs */
  /* overflow: visible; */
}

.weightInput,
.percentInput {
  width: 5em !important;
}

#copyIcon {
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.importSharesButton {
  margin-left: 1em !important;
}

.importControls {
  margin-top: 1em;
}

.nameCell {
  width: 15em;
}

.sharePointerInput {
  width: 20em;
}

.pointerCell {
  padding-right: 0px !important;
}

.weightCell,
.percentCell {
  width: 6em;
}

.removeCell,
.removeButton {
  padding: 0px !important;
  margin-right: 0px !important;
  width: 2em !important;
}

.revshareContainer {
  display: flex;
  flex-direction: column;
}

table.event-properties {
  display: table;
}

.spacer {
  flex-grow: 1;
}

.specifications table {
  display: table;
  width: 100%;
}

.specifications table th,
.specifications table td {
  padding: 0.5rem 0.75rem;
}

.specifications table th {
  text-align: left;
  background-color: #fbfbfe;
}

.specifications a span {
  font-size: smaller;
}
.browser-compat th {
  vertical-align: bottom;
}
.browser-compat .visually-hidden {
  display: none;
}

.browser-compat .bc-head-txt-label {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  left: calc(50% - 0.5rem);
  line-height: 1;
  position: relative;
  padding-top: 0.5rem;
}

.browser-compat .icon.icon-chrome {
  mask-image: url(/static/img/chrome.svg);
}

.browser-compat .icon.icon-edge {
  mask-image: url(/static/img/edge.svg);
}

.browser-compat .icon.icon-simple-firefox {
  mask-image: url(/static/img/simple-firefox.svg);
}

.browser-compat .icon.icon-ie {
  mask-image: url(/static/img/ie.svg);
}

.browser-compat .icon.icon-opera {
  mask-image: url(/static/img/opera.svg);
}

.browser-compat .icon.icon-safari {
  mask-image: url(/static/img/safari.svg);
}

.browser-compat .icon.icon-webview {
  mask-image: url(/static/img/webview.svg);
}

.browser-compat .icon.icon-samsunginternet {
  mask-image: url(/static/img/samsunginternet.svg);
}

.browser-compat .icon.icon-puma {
  mask-image: url(/static/img/puma.svg);
}

.browser-compat table td,
.browser-compat table th {
  background: inherit;
  padding: 0.25rem 0.75rem;
  width: 2rem;
  font-size: 0.75rem;
  text-align: center;
}

.browser-compat .bc-notes {
  margin-right: 2em;
}

.browser-compat .bc-feature {
  vertical-align: middle;
  display: table-cell;
}

.browser-compat table {
  width: 100%;
  margin: 1rem 0;
  border: 1px solid var(--border-primary);
  border-radius: var(--elem-radius);
  border-collapse: separate;
  border-spacing: 0;
  display: table;
}

.browser-compat .bc-support span {
  display: block;
}

.browser-compat .bc-head-icon-symbol {
  width: 1rem;
  height: 1rem;
  background-color: #696969;
  display: inline-block;
  vertical-align: middle;
  mask-position: center;
  mask-repeat: no-repeat;
  flex-shrink: 0;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .cardContainer {
    flex-direction: row;
  }

  .revshareContainer {
    display: flex;
    flex-direction: row;
  }
}
