:root {
  --ifm-color-primary: #0080ff;
  --ifm-color-secondary: #282c34;
}

/* custom css */
h2 {
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 16px;
}
.fixedHeaderContainer {
  background: #000000;
}

.mainContainer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.navigationSlider .slidingNav ul li > a:hover {
  background-color: #000000;
}

.navigationSlider .slidingNav ul li > a:focus {
  background-color: #000000;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: #000000;
}

.homeContainer {
  background: #282c34;
  padding: 2em 2em;
  overflow: hidden;
}

.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 2em;
}

.navbar {
  height: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #000;
  color: white;

  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.navbar__title {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-right: auto;
}

.navbar__link {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.navbar__link:hover {
  color: rgba(255, 255, 255, 1);
}

.DocSearch-Button {
  border-radius: 0px !important;
  background-color: #000 !important;
}

.DocSearch-Button:hover {
  color: #fff !important;
  box-shadow: none !important;
}

.DocSearch-Search-Icon {
  color: rgba(255, 255, 255, 0.8) !important;
}

.nav-footer {
  padding: 2em;
}

.bgLogo {
  position: absolute;
  margin-left: 666px;
  margin-top: -20px;
}

.projectTitle {
  text-align: center;
}

.projectTitle > h2,
small {
  color: #ffffff;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 300%;
}

.projectTitle > small {
  font-weight: 300;
  opacity: 0.6;
  line-height: 1.4em;
  font-size: 21px;
  letter-spacing: 0.03em;
}

.inner {
  max-width: 560px;
  margin: auto;
}

.splashFooter {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: 45px 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.splashFooter > div {
  max-width: 532px;
  font-size: 17px;
}

.splashFooter a {
  color: #ffffff;
  text-decoration: underline;
}

.contentBlock {
  border-bottom: 1px solid #e3e5e9;
}

.contentContainer {
  max-width: 532px;
  margin: auto;
  padding: 0 2em 5em 2em;
}

.contentContainer p {
  color: #636975;
  font-size: 17px;
}

.cardBlock {
  text-align: center;
  padding: 0 2em 5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardBlock p {
  color: #636975;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  font-size: 14px;
  color: #636975;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  width: 258px;
  height: 110px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 8px;
  transition: 200ms;
}

.card:hover {
  transform: scale(1.05);
}

.card a {
  color: dodgerblue;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-merge {
  width: auto;
  height: auto;
  padding: 24px 24px 20px 24px;
  flex-direction: row;
}

.card-merge-icon {
  margin-right: 12px;
}

.card-wide {
  width: 532px;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 33px 24px;
}

.card-wide:hover {
  text-decoration: none;
}

.card-wide-content {
  text-align: left;
  margin: 0 16px;
  flex: 1;
}

.card-wide-content h4 {
  margin: 0 0 8px 0;
  font-size: 17px;
  color: #000;
}

.card-wide-arrow {
  height: 100%;
  display: flex;
}

.resources a {
  color: dodgerblue;
}

.resourceContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.resourceContainer + p {
  color: #a4a8b1;
}

.resource {
  flex: 1;
  margin-left: 30px;
  margin-right: 30px;
}

.resource:first-child {
  margin-left: 0;
}

.resource:last-child {
  margin-right: 0;
}

.resource p {
  color: #636975;
}

.metaTagContainer {
  max-width: 900px !important;
}

.metaTagContainer p {
  color: #636975;
}

.metaTagContainer span {
  color: #636975;
}

#paymentPointerForm {
  display: flex;
  margin-bottom: 15px;
}

.paymentPointerInput {
  height: 56px;
  color: #a4a8b1;
  background: #f5f6f8;
  border-radius: 4px;
  padding: 16px 24px;
  font-size: 17px;
  border: 0;
  flex: 1;
  font-family: $myOtherFont;
}

#generateButton {
  height: 56px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 4px;
  background: #0080ff;
  margin-left: 16px;
  padding-left: 26px;
  padding-right: 26px;
  cursor: pointer;
  font-family: $myOtherFont;
}

.metaTagOutput {
  margin-top: 50px;
  line-height: 2.5em;
}

#metaTag {
  padding: 18px 50px 18px 24px;
  display: block;
  line-height: 2em;
  position: relative;
  background: #f7f8f9;
}

.revshareChart {
  /* TODO: can we accomplish this without covering inputs */
  /* overflow: visible; */
}

.weightInput,
.percentInput {
  width: 5em !important;
}

#copyIcon {
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.importSharesButton {
  margin-left: 1em !important;
}

.importControls {
  margin-top: 1em;
}

.nameCell {
  width: 15em;
}

.sharePointerInput {
  width: 20em;
}

.pointerCell {
  padding-right: 0px !important;
}

.weightCell,
.percentCell {
  width: 6em;
}

.removeCell,
.removeButton {
  padding: 0px !important;
  margin-right: 0px !important;
  width: 2em !important;
}

.sectionHeader {
  font-size: 30px;
}

@media only screen and (max-device-width: 736px) {
  .bgLogo {
    display: none;
  }

  .resourceContainer {
    flex-direction: column;
  }

  .resource {
    margin: 0;
  }
}

.footer {
  background-color: #20232a;
}

.footer__title {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.footer__link {
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.revshareContainer {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .cardContainer {
    flex-direction: row;
  }

  .revshareContainer {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
