:root {
  --space-3xs: clamp(0.25rem, calc(0.21rem + 0.19vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.42rem + 0.37vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.67rem + 0.37vw), 0.88rem);
  --space-s: clamp(1rem, calc(0.88rem + 0.56vw), 1.19rem);
  --space-m: clamp(1.5rem, calc(1.29rem + 0.93vw), 1.81rem);
  --space-l: clamp(2rem, calc(1.75rem + 1.11vw), 2.38rem);
  --space-xl: clamp(3rem, calc(2.63rem + 1.67vw), 3.56rem);
  --space-2xl: clamp(4rem, calc(3.5rem + 2.22vw), 4.75rem);
  --space-3xl: clamp(6rem, calc(5.25rem + 3.33vw), 7.13rem);
}

/* This is for adding captions to images and diagrams */
div.caption {
  font-size: small;
  font-weight: 600;
}

/* Align table <th> to left */
th {
  text-align: left;
}

/* Can be deleted after all To-Dos are taken care of internally */
.draft {
  background: #f2dddd;
  color: #aa4546;
  padding: var(--space-s);
  border: 2px solid #aa4546;
}

.draft h5 {
  color: #aa4546;
}

.draft.draft ul {
  margin-top: var(--space-2xs);
}
