:root {
  --step--1: clamp(0.8rem, calc(0.7rem + 0.44vw), 0.95rem);
  --step-0: clamp(1rem, calc(0.88rem + 0.56vw), 1.19rem);
  --step-1: clamp(1.25rem, calc(1.09rem + 0.69vw), 1.48rem);
  --step-2: clamp(1.56rem, calc(1.37rem + 0.87vw), 1.86rem);
  --step-3: clamp(1.95rem, calc(1.71rem + 1.09vw), 2.32rem);
  --step-4: clamp(2.44rem, calc(2.14rem + 1.36vw), 2.9rem);
  --step-5: clamp(3.05rem, calc(2.67rem + 1.69vw), 3.62rem);
  --space-3xs: clamp(0.25rem, calc(0.21rem + 0.19vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.42rem + 0.37vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.67rem + 0.37vw), 0.88rem);
  --space-s: clamp(1rem, calc(0.88rem + 0.56vw), 1.19rem);
  --space-m: clamp(1.5rem, calc(1.29rem + 0.93vw), 1.81rem);
  --space-l: clamp(2rem, calc(1.75rem + 1.11vw), 2.38rem);
  --space-xl: clamp(3rem, calc(2.63rem + 1.67vw), 3.56rem);
  --space-2xl: clamp(4rem, calc(3.5rem + 2.22vw), 4.75rem);
  --space-3xl: clamp(6rem, calc(5.25rem + 3.33vw), 7.13rem);
  --color-white: #fff;
  --color-secondary: #282c34;
  --color-secondary-lightest: #343944;
  --color-gray-500: #bec3c9;
  --color-black: #000;
  --color-link: #0080ff;
  --color-table-border: #cdcdcd;
  --color-table-bg: #f9f9fb;
  --color-table-bg-alt: #fff;
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Base styles */
body {
  min-width: 360px;
  font-size: var(--step-0);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

main a {
  color: var(--color-link);
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main p {
  line-height: 1.39;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Typography styles */
.heading1 {
  font-size: var(--step-4);
}

.heading2 {
  font-size: var(--step-3);
  font-weight: 700;
  margin-bottom: var(--space-s);
}

.heading3 {
  font-size: var(--step-2);
  font-weight: 700;
  margin-bottom: var(--space-2xs);
}

.heading4 {
  font-size: var(--step-1);
  font-weight: 700;
  margin-bottom: var(--space-2xs);
}

.bodyText {
  font-size: var(--step-0);
}

/* Shared section styles */
.contentWrapperSm {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.contentWrapperLg {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.section {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
  border-bottom: 1px solid var(--color-gray-500);
}

.sectionHeader {
  text-align: center;
}

.sectionHeader p {
  margin-bottom: var(--space-s);
}

/* Grid layout styles */
.twoColGrid,
.fourColGrid {
  display: grid;
  gap: var(--space-l);
}

@media screen and (min-width: 900px) {
  .twoColGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 600px) {
  .fourColGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 900px) {
  .fourColGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
