/* Custom styles for non-Starlight pages */
/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1440,19,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --sharp-corners: 0rem; /* Radius/none */
  --slight-rounding: 0.25rem; /* Radius/xs */
  --moderate-rounding: 0.5rem; /* Radius/sm */
  --pill-rounding: 1rem; /* Radius/md */
  --fully-rounded: 999px; /* Radius/full */

  --padding-3xs: 0.125rem; /* padding/half */
  --padding-2xs: 0.25rem; /* padding/1 */
  --padding-xs: 0.5rem; /* padding/2 */
  --padding-sm: 0.75rem; /* padding/3 */
  --padding-md: 1rem; /* padding/4 */
  --padding-lg: 1.5rem; /* padding/5 */
  --padding-2xl: 2rem; /* padding/6 */

  --spacing-3xs: 0.125rem; /* spacing/half 2px */
  --spacing-2xs: 0.25rem; /* spacing/1 4px */
  --spacing-xs: 0.5rem; /* spacing/2 8px */
  --spacing-sm: 0.75rem; /* spacing/3 12px */
  --spacing-md: 1rem; /* spacing/4 16px */
  --spacing-lg: 1.5rem; /* spacing/5 24px */
  --spacing-2xl: 2rem; /* spacing/6 36px */
  --spacing-3xl: 3rem; /* spacing/7 48px */
  --spacing-4xl: 3.75rem; /* spacing/8 60px */
  --spacing-5xl: 7.5rem; /* spacing/9 120px */

  --nav-bar-icon-size: 2.75rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-caption: var(--font-weight-regular) 0.75rem/1rem var(--font-base);
  --font-small-regular: var(--font-weight-regular) 0.875rem/1.25rem var(--font-base);
  --font-small-bold: var(--font-weight-bold) 0.875rem/1.25rem var(--font-base);
  --font-standard-regular: var(--font-weight-regular) 1rem/1.5rem var(--font-base);
  --font-standard-bold: var(--font-weight-bold) 1rem/1.5rem var(--font-base);
  --font-h6: var(--font-weight-bold) 1.125rem/1.625rem var(--font-base);
  --font-h5: var(--font-weight-regular) 1.125rem/1.75rem var(--font-base);
  --font-h4: var(--font-weight-bold) 1.5rem/2rem var(--font-base);
  --font-h3: var(--font-weight-medium) 1.875rem/2.375rem var(--font-base);
  --font-h2: var(--font-weight-bold) 2.25rem/2.75rem var(--font-base);
  --font-h1: var(--font-weight-bold) 3rem/3.5rem var(--font-base);
  --font-display-2: var(--font-weight-medium) 3.75rem/4.375rem var(--font-base);
  --font-display-1: var(--font-weight-bold) 4.5rem/5rem var(--font-base);

  --color-green-50: #DBE9E7;
  --color-green-100: #ABE4DF;
  --color-green-300: #56B7B5;
  --color-green-600: #27797A;
  --color-green-800: #204D4F;

  --color-mint-50: #F2FBF9;
  --color-mint-100: #D4F3EB;
  --color-mint-300: #98E1D0;
  --color-mint-600: #4AB7A5;
  --color-mint-800: #247D71;

  --color-blue-50: #F6F8FA;
  --color-blue-100: #D0DDED;
  --color-blue-300: #A3BEDC;
  --color-blue-600: #5A77B6;
  --color-blue-800: #455588;

  --color-orange-50: #FFF6ED;
  --color-orange-100: #FFD3A8;
  --color-orange-300: #FF9852;
  --color-orange-600: #EF4C07;
  --color-orange-800: #9D2D0F;

  --color-pink-50: #FEF1F5;
  --color-pink-100: #FEE5EE;
  --color-pink-300: #FFC8DC;
  --color-pink-600: #FF6698;
  --color-pink-800: #EB174A;

  --color-red-50: #FFF1F2;
  --color-red-100: #FEE5EE;
  --color-red-300: #FF7A7F;
  --color-red-600: #E51D25;
  --color-red-800: #A01419;

  --color-purple-50: #F3F4FA;
  --color-purple-100: #A7A6D3;
  --color-purple-300: #8075B3;
  --color-purple-600: #5B5380;
  --color-purple-800: #2D2A3C;

  --color-silver-50: #F7F7F7;
  --color-silver-100: #EFEFEF;
  --color-silver-200: #DFDFDF;
  --color-silver-300: #C9C9C9;
  --color-silver-400: #ADADAD;
  --color-silver-500: #999999;
  --color-silver-600: #888888;
  --color-silver-700: #7B7B7B;
  --color-silver-800: #676767;
  --color-silver-900: #545454;
  --color-silver-950: #363636;

  --color-black: #000;
  --color-white: #fff;

  --default-font-color: var(--color-silver-950);
  --inactive-font-color: var(--color-silver-800);

  --button-primary-color: var(--color-white);
  --button-primary-bg: var(--color-black);
  --button-primary-bg-focus: var(--color-silver-950);
  --button-secondary-color: var(--color-silver-800);
  --button-secondary-color-focus: var(--color-black);
  --button-secondary-border: var(--color-silver-800);
  --button-secondary-border-focus: var(--color-black);
  --button-hover-color: var(--color-purple-600);

  --nav-text-color: var(--color-purple-300);
  --surface-hover-color: var(--color-purple-50);

  --footer-bg-color: var(--color-mint-100);

  --pill-border-color: var(--color-blue-300);

  --border-color: var(--color-silver-200);

  --background-color: #F6F8FA;

/* OLD */

  --step--2: clamp(0.64rem, 0.6057rem + 0.1714vi, 0.76rem);
  --step--1: clamp(0.8rem, 0.7571rem + 0.2143vi, 0.95rem);
  --step-0: clamp(1rem, 0.9464rem + 0.2679vi, 1.1875rem);
  --step-1: clamp(1.25rem, 1.183rem + 0.3348vi, 1.4844rem);
  --step-2: clamp(1.5625rem, 1.4788rem + 0.4185vi, 1.8555rem);
  --step-3: clamp(1.9531rem, 1.8485rem + 0.5232vi, 2.3193rem);
  --step-4: clamp(2.4414rem, 2.3106rem + 0.6539vi, 2.8992rem);
  --step-5: clamp(3.0518rem, 2.8883rem + 0.8174vi, 3.624rem);
  --step-6: clamp(3.8147rem, 3.6103rem + 1.0218vi, 4.53rem);
  --space-3xs: clamp(0.25rem, 0.2321rem + 0.0893vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4643rem + 0.1786vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.7143rem + 0.1786vi, 0.875rem);
  --space-s: clamp(1rem, 0.9464rem + 0.2679vi, 1.1875rem);
  --space-m: clamp(1.5rem, 1.4107rem + 0.4464vi, 1.8125rem);
  --space-l: clamp(2rem, 1.8929rem + 0.5357vi, 2.375rem);
  --space-xl: clamp(3rem, 2.8393rem + 0.8036vi, 3.5625rem);
  --space-2xl: clamp(4rem, 3.7857rem + 1.0714vi, 4.75rem);
  --space-3xl: clamp(6rem, 5.6786rem + 1.6071vi, 7.125rem);
  --border-radius: 6px;

  --wm-accent: oklch(51.54% 0.088 194.769);
  --sl-color-white: hsl(0, 0%, 100%);
  --sl-color-gray-1: hsl(231, 23%, 94%);
  --sl-color-gray-2: hsl(228, 8%, 77%);
  --sl-color-gray-3: hsl(221, 8%, 56%);
  --sl-color-gray-4: hsl(225, 9%, 36%);
  --sl-color-gray-5: hsl(222, 11%, 23%);
  --sl-color-gray-6: hsl(222, 13%, 16%);
  --sl-color-black: hsl(223, 13%, 10%);
  --sl-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.06),
    0px 2px 1px hsla(0, 0%, 0%, 0.06);

  --sl-color-red-high: hsl(339, 80%, 30%);
  --sl-color-green-high: hsl(101, 80%, 22%);

  --sl-font-system: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --sl-font-system-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --__sl-font: var(--sl-font, ''), var(--sl-font-system);
  --__sl-font-mono: var(--sl-font-mono, ''), var(--sl-font-system-mono);

  --font-base: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Base styles */
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {  /* used */
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  color: var(--default-font-color);
  font-family: var(--font-base);
}

main { /* used */
  flex: 1;
  font-size: var(--step-0);
  background-color: var(--background-color);
}

a {
  text-decoration: underline rgba(255, 255, 255, 0);
  transition: text-decoration-color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a:hover {
  text-decoration-color: inherit;
}

p {
  font: var(--font-standard-regular);
}

p.caption {
  font: var(--font-caption);
}

p.small {
  font: var(--font-small-regular);
}

p.small-bold {
  font: var(--font-small-bold);
}

p.bold {
  font: var(--font-standard-bold);
}

h1, .font-h1 {
  font: var(--font-h1);
}

h2, .font-h2 {
  font: var(--font-h2);
}

h3, .font-h3 {
  font: var(--font-h3);
}

h4, .font-h4 {
  font: var(--font-h4);
}

h5, .font-h5 {
  font: var(--font-h5);
}

h6, .font-h6 {
  font: var(--font-h6);
}

main a {
  color: var(--sl-color-accent);
}

main code {
  background-color: var(--sl-color-gray-1);
  margin-block: -0.125rem;
  padding: 0.125rem 0.375rem;
  border-radius: var(--border-radius);
  font-size: var(--step--1);
  font-family: var(--__sl-font-mono);
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Input styles */
:focus-visible {
  outline-color: var(--sl-color-accent-high);
  border-radius: var(--border-radius);
}

label {
  font-size: var(--step--1);
  font-weight: bold;
}

input:not([type='submit']):not([type='file']),
textarea {
  border: 1px solid var(--sl-color-accent-high);
  padding: var(--space-2xs);
  border-radius: var(--border-radius);
}

input:not([type='submit']):not([type='file']):focus {
  background-color: var(--sl-color-accent-low);
}

::placeholder {
  color: var(--color-accent-mid);
  opacity: 0.6;
}

.error {
  color: var(--sl-color-red-high);
}

/* Button styles */
.btn {
  font: var(--font-standard-bold);
  padding: var(--spacing-sm);
  text-decoration: none;
  border-radius: var(--moderate-rounding);
  display: inline-flex;
  width: auto;
  align-items: center;
  gap: var(--spacing-xs);
  width: auto;
}

.btn.flexible {
  flex: 1 1 auto;
  justify-content: center;
}

.btn.primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
}

.primary.btn:hover, .primary.btn:focus {
  background-color: var(--button-primary-bg-focus);
  color: var(--button-primary-color);
}

.btn.secondary {
  color: var(--button-secondary-color);
  border: 1px solid var(--button-secondary-border);
}

.secondary.btn:hover, .primary.btn:focus {
  color: var(--button-secondary-color-focus);
  border: 1px solid var(--button-secondary-border-focus);
}

/* .btn {
  border: 0;
  background-color: var(--sl-color-accent);
  color: var(--sl-color-white);
  border-radius: var(--border-radius);
  padding: var(--space-2xs) var(--space-xs);
  transition: background-color 150ms ease-in;
  font-weight: bold;
}

.btn:hover,
.btn:focus {
  background-color: var(--sl-color-accent-high);
}

.btn.outline {
  background-color: var(--sl-color-white);
  color: var(--sl-color-accent);
  border: 1px solid var(--sl-color-accent);
} */

/* Table styles */
table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--border-radius);
  box-shadow: var(--sl-shadow-sm);
}

thead + tbody tr:nth-child(2n) {
  background-color: var(--sl-color-gray-1, var(--sl-color-gray-2));
}

thead + tbody tr:nth-child(2n + 1) {
  background-color: var(--sl-color-white);
}

tr:nth-child(2n) {
  background-color: var(--sl-color-white);
}

tr:nth-child(2n + 1) {
  background-color: var(--sl-color-gray-1, var(--sl-color-gray-2));
}

th {
  text-align: left;
}

th,
td {
  border: 0;
  padding: var(--space-2xs) var(--space-xs);
}

thead tr:first-of-type th:first-child {
  border-start-start-radius: var(--border-radius);
}

thead tr:first-of-type th:last-child {
  border-start-end-radius: var(--border-radius);
}

tbody tr:first-of-type th:first-child,
tbody tr:first-of-type td:first-child {
  border-start-start-radius: var(--border-radius);
}

tbody tr:first-of-type th:last-child,
tbody tr:first-of-type td:last-child {
  border-start-end-radius: var(--border-radius);
}

tbody tr:last-of-type th:first-child,
tbody tr:last-of-type td:first-child {
  border-end-start-radius: var(--border-radius);
}

tbody tr:last-of-type th:last-child,
tbody tr:last-of-type td:last-child {
  border-end-end-radius: var(--border-radius);
}

/* Typography styles */
.heading1 {
  font-size: var(--step-4);
}

.heading2 {
  font-size: var(--step-3);
  margin-block-end: var(--space-s);
}

.heading3 {
  font-size: var(--step-2);
  margin-block-end: var(--space-s);
}

.heading4 {
  font-size: var(--step-1);
  margin-block-end: var(--space-2xs);
}

.bodyText {
  font-size: var(--step-0);
}

/* Shared section styles */
.contentWrapper { /*Style in use */
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: var(--space-s);
}

.section {
  padding-block-start: var(--spacing-5xl);
}

.sectionHeader {
  text-align: center;
}

.sectionHeader p {
  margin-block-end: var(--space-s);
}

/* Grid layout styles */
.twoColGrid,
.threeColGrid {
  display: grid;
  gap: var(--space-l);
}

@media screen and (min-width: 900px) {
  .twoColGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .threeColGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding-block-start: var(--spacing-3xl);
  }
}