/* Custom styles for non-Starlight pages */
/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1440,19,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.64rem, 0.6057rem + 0.1714vi, 0.76rem);
  --step--1: clamp(0.8rem, 0.7571rem + 0.2143vi, 0.95rem);
  --step-0: clamp(1rem, 0.9464rem + 0.2679vi, 1.1875rem);
  --step-1: clamp(1.25rem, 1.183rem + 0.3348vi, 1.4844rem);
  --step-2: clamp(1.5625rem, 1.4788rem + 0.4185vi, 1.8555rem);
  --step-3: clamp(1.9531rem, 1.8485rem + 0.5232vi, 2.3193rem);
  --step-4: clamp(2.4414rem, 2.3106rem + 0.6539vi, 2.8992rem);
  --step-5: clamp(3.0518rem, 2.8883rem + 0.8174vi, 3.624rem);
  --step-6: clamp(3.8147rem, 3.6103rem + 1.0218vi, 4.53rem);
  --space-3xs: clamp(0.25rem, 0.2321rem + 0.0893vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4643rem + 0.1786vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.7143rem + 0.1786vi, 0.875rem);
  --space-s: clamp(1rem, 0.9464rem + 0.2679vi, 1.1875rem);
  --space-m: clamp(1.5rem, 1.4107rem + 0.4464vi, 1.8125rem);
  --space-l: clamp(2rem, 1.8929rem + 0.5357vi, 2.375rem);
  --space-xl: clamp(3rem, 2.8393rem + 0.8036vi, 3.5625rem);
  --space-2xl: clamp(4rem, 3.7857rem + 1.0714vi, 4.75rem);
  --space-3xl: clamp(6rem, 5.6786rem + 1.6071vi, 7.125rem);
  --border-radius: 6px;

  --wm-accent: oklch(51.54% 0.088 194.769);
  --sl-color-white: hsl(0, 0%, 100%);
  --sl-color-gray-1: hsl(231, 23%, 94%);
  --sl-color-gray-2: hsl(228, 8%, 77%);
  --sl-color-gray-3: hsl(221, 8%, 56%);
  --sl-color-gray-4: hsl(225, 9%, 36%);
  --sl-color-gray-5: hsl(222, 11%, 23%);
  --sl-color-gray-6: hsl(222, 13%, 16%);
  --sl-color-black: hsl(223, 13%, 10%);
  --sl-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.06),
    0px 2px 1px hsla(0, 0%, 0%, 0.06);

  --sl-color-red-high: hsl(339, 80%, 30%);
  --sl-color-green-high: hsl(101, 80%, 22%);

  --sl-font-system: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --sl-font-system-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --__sl-font: var(--sl-font, ''), var(--sl-font-system);
  --__sl-font-mono: var(--sl-font-mono, ''), var(--sl-font-system-mono);
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Base styles */
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  color: var(--sl-color-gray-5);
  font-family: var(--__sl-font);
}

main {
  flex: 1;
  font-size: var(--step-0);
}

a {
  text-decoration: underline rgba(255, 255, 255, 0);
  transition: text-decoration-color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a:hover {
  text-decoration-color: inherit;
}

main a {
  color: var(--sl-color-accent);
}

main p {
  line-height: 1.39;
}

main code {
  background-color: var(--sl-color-gray-1);
  margin-block: -0.125rem;
  padding: 0.125rem 0.375rem;
  border-radius: var(--border-radius);
  font-size: var(--step--1);
  font-family: var(--__sl-font-mono);
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Input styles */
:focus-visible {
  outline-color: var(--sl-color-accent-high);
  border-radius: var(--border-radius);
}

label {
  font-size: var(--step--1);
  font-weight: bold;
}

input:not([type='submit']):not([type='file']),
textarea {
  border: 1px solid var(--sl-color-accent-high);
  padding: var(--space-2xs);
  border-radius: var(--border-radius);
}

input:not([type='submit']):not([type='file']):focus {
  background-color: var(--sl-color-accent-low);
}

::placeholder {
  color: var(--color-accent-mid);
  opacity: 0.6;
}

.error {
  color: var(--sl-color-red-high);
}

/* Button styles */
.btn {
  border: 0;
  background-color: var(--sl-color-accent);
  color: var(--sl-color-white);
  border-radius: var(--border-radius);
  padding: var(--space-2xs) var(--space-xs);
  transition: background-color 150ms ease-in;
  font-weight: bold;
}

.btn:hover,
.btn:focus {
  background-color: var(--sl-color-accent-high);
}

.btn.outline {
  background-color: var(--sl-color-white);
  color: var(--sl-color-accent);
  border: 1px solid var(--sl-color-accent);
}

/* Table styles */
table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--border-radius);
  box-shadow: var(--sl-shadow-sm);
}

thead + tbody tr:nth-child(2n) {
  background-color: var(--sl-color-gray-1, var(--sl-color-gray-2));
}

thead + tbody tr:nth-child(2n + 1) {
  background-color: var(--sl-color-white);
}

tr:nth-child(2n) {
  background-color: var(--sl-color-white);
}

tr:nth-child(2n + 1) {
  background-color: var(--sl-color-gray-1, var(--sl-color-gray-2));
}

th {
  text-align: left;
}

th,
td {
  border: 0;
  padding: var(--space-2xs) var(--space-xs);
}

thead tr:first-of-type th:first-child {
  border-start-start-radius: var(--border-radius);
}

thead tr:first-of-type th:last-child {
  border-start-end-radius: var(--border-radius);
}

tbody tr:first-of-type th:first-child,
tbody tr:first-of-type td:first-child {
  border-start-start-radius: var(--border-radius);
}

tbody tr:first-of-type th:last-child,
tbody tr:first-of-type td:last-child {
  border-start-end-radius: var(--border-radius);
}

tbody tr:last-of-type th:first-child,
tbody tr:last-of-type td:first-child {
  border-end-start-radius: var(--border-radius);
}

tbody tr:last-of-type th:last-child,
tbody tr:last-of-type td:last-child {
  border-end-end-radius: var(--border-radius);
}

/* Typography styles */
.heading1 {
  font-size: var(--step-4);
}

.heading2 {
  font-size: var(--step-3);
  margin-block-end: var(--space-s);
}

.heading3 {
  font-size: var(--step-2);
  margin-block-end: var(--space-s);
}

.heading4 {
  font-size: var(--step-1);
  margin-block-end: var(--space-2xs);
}

.bodyText {
  font-size: var(--step-0);
}

/* Shared section styles */
.contentWrapperSm {
  max-width: 600px;
  margin-inline: auto;
  padding-inline: var(--space-s);
}

.contentWrapperMd {
  max-width: 900px;
  margin-inline: auto;
  padding-inline: var(--space-s);
}

.contentWrapperLg {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--space-s);
}

.section {
  padding-block-end: var(--space-xl);
}

.section:first-of-type {
  padding-block-start: var(--space-xl);
}

.sectionHeader {
  text-align: center;
}

.sectionHeader p {
  margin-block-end: var(--space-s);
}

/* Grid layout styles */
.twoColGrid,
.threeColGrid {
  display: grid;
  gap: var(--space-l);
}

@media screen and (min-width: 900px) {
  .twoColGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .threeColGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
