.form {
  margin-block: var(--space-s);
}

.text {
  margin-block-end: var(--space-s);
}

.inputWrapper {
  width: 100%;
  display: flex;
  gap: var(--space-s);
}

.inputWrapper input {
  flex: 1;
  border-radius: var(--border-radius);
  border: 1px solid var(--sl-color-gray-2);
  padding: var(--space-2xs);
}
