---
const { cards } = Astro.props;
---
{cards.map((card: {name: string, link: string, image: string}) => (
  <div class="card">
    <img
      class="cardLogo"
      src={`/img/${card.image}`}
      alt={card.name}
      width="146"
      height="32"
    />
    <a
      href={card.link}
      class="btn secondary flexible"
      data-umami-event={`CardList - ${card.name}`}
      target="_blank" rel="noreferrer noopener"
    >
      Set up a wallet
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.4345 4.06494H4.56445C3.90141 4.06494 3.26553 4.32833 2.79669 4.79717C2.32785 5.26602 2.06445 5.9019 2.06445 6.56494V17.4349C2.06445 18.098 2.32785 18.7339 2.79669 19.2027C3.26553 19.6715 3.90141 19.9349 4.56445 19.9349H19.4345C20.0975 19.9349 20.7334 19.6715 21.2022 19.2027C21.6711 18.7339 21.9345 18.098 21.9345 17.4349V6.56494C21.9345 5.9019 21.6711 5.26602 21.2022 4.79717C20.7334 4.32833 20.0975 4.06494 19.4345 4.06494ZM20.9345 13.9949H14.5145C13.984 13.9949 13.4753 13.7842 13.1002 13.4092C12.7252 13.0341 12.5145 12.5254 12.5145 11.9949C12.5145 11.4645 12.7252 10.9558 13.1002 10.5807C13.4753 10.2057 13.984 9.99494 14.5145 9.99494H20.9345V13.9949ZM14.5145 8.99494C13.7188 8.99494 12.9557 9.31101 12.3931 9.87362C11.8305 10.4362 11.5145 11.1993 11.5145 11.9949C11.5145 12.7906 11.8305 13.5537 12.3931 14.1163C12.9557 14.6789 13.7188 14.9949 14.5145 14.9949H20.9345V17.4349C20.9345 17.8328 20.7764 18.2143 20.4951 18.4956C20.2138 18.7769 19.8323 18.9349 19.4345 18.9349H4.56445C4.16663 18.9349 3.7851 18.7769 3.50379 18.4956C3.22249 18.2143 3.06445 17.8328 3.06445 17.4349V6.56494C3.06445 6.16712 3.22249 5.78559 3.50379 5.50428C3.7851 5.22298 4.16663 5.06494 4.56445 5.06494H19.4345C19.8323 5.06494 20.2138 5.22298 20.4951 5.50428C20.7764 5.78559 20.9345 6.16712 20.9345 6.56494V8.99494H14.5145Z"/>
        <path d="M14.5195 12.9961C15.0718 12.9961 15.5195 12.5484 15.5195 11.9961C15.5195 11.4438 15.0718 10.9961 14.5195 10.9961C13.9672 10.9961 13.5195 11.4438 13.5195 11.9961C13.5195 12.5484 13.9672 12.9961 14.5195 12.9961Z"/>
      </svg>
    </a>
  </div>
))}

<style>
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--pill-rounding);
  padding: var(--padding-md);
  gap: var(--spacing-md);
  border: 1px solid var(--border-color);
  flex-direction: row;
  flex-wrap: wrap;
}
.card a svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
}

.cardLogo {
  width: 146px;
  height: 32px;
  object-fit: contain;
  object-position: left center;
  display: block;
}
</style>
