---
import Wallet from "../../../public/img/wallet.svg"

interface Props {
  cards: Array<{ name: string, link: string, image: string }>
}
const { cards } = Astro.props;
---
{cards.map((card) => (
  <div class="card">
    <img
      class="cardLogo"
      src={`/img/${card.image}`}
      alt={card.name}
      width="146"
      height="32"
    />
    <a
      href={card.link}
      class="btn secondary flexible"
      data-umami-event={`CardList - ${card.name}`}
      target="_blank" rel="noreferrer noopener"
    >
      Set up a wallet
      <Wallet />
    </a>
  </div>
))}

<style>
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--pill-rounding);
  padding: var(--padding-md);
  gap: var(--spacing-md);
  border: 1px solid var(--border-color);
  flex-direction: row;
  flex-wrap: wrap;
}
.card a svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
}

.cardLogo {
  width: 146px;
  height: 32px;
  object-fit: contain;
  object-position: left center;
  display: block;
}
</style>
