---
---
<footer>
  <span>
    Copyright © {new Date().getFullYear()} Interledger Foundation.
  </span>
</footer>

<style>
  footer {
    padding: var(--space-s);
    font-size: var(--step--1);
  }
</style>
