---
import Linkedin from '../../../public/img/linkedin.svg'
import Slack from '../../../public/img/slack.svg'
import Instagram from '../../../public/img/instagram.svg'
import Github from '../../../public/img/github.svg'
import Youtube from '../../../public/img/youtube.svg'
import WmNamedLogo from '../../../public/img/wm-named-logo.svg'
---

<footer>
  <div class='footer-container contentWrapper'>
    <nav class='footer-menu' aria-label='Footer'>
      <ul>
        <li>
          <a
            href='https://community.interledger.org/'
            data-umami-event='Footer - Community'
            rel='noopener noreferrer'
            target='_blank'>Community</a>
        </li>
        <li>
          <a
            href='https://github.com/WICG/webmonetization'
            data-umami-event='Footer - GitHub'
            rel='noopener noreferrer'
            target='_blank'>GitHub</a>
        </li>
        <li>
          <a
            href='https://interledger.org/blog'
            data-umami-event='Footer - Blog'
            rel='noopener noreferrer'
            target='_blank'>Blog</a>
        </li>
      </ul>
      <ul>
        <li>
          <a
            href='https://interledger.org/'
            data-umami-event='Footer - Interledger Foundation'
            rel='noopener noreferrer'
            target='_blank'>Interledger Foundation</a>
        </li>
        <li>
          <a
            href='https://wicg.io/'
            data-umami-event='Footer - WICG'
            rel='noopener noreferrer'
            target='_blank'>Web Incubator Community Group</a>
        </li>
        <li>
          <a
            href='https://interledger.org/summit'
            data-umami-event='Footer - Summit'
            rel='noopener noreferrer'
            target='_blank'>Summit</a>
        </li>
      </ul>
      <ul>
        <li>
          <a
            href='https://www.iubenda.com/privacy-policy/95080147'
            data-umami-event='Footer - Privacy Policy'
            rel='noopener noreferrer'
            target='_blank'>Privacy Policy</a>
        </li>
        <li>
          <a
            href='https://www.iubenda.com/privacy-policy/95080147/cookie-policy'
            data-umami-event='Footer - Cookie Policy'
            rel='noopener noreferrer'
            target='_blank'>Cookie Policy</a>
        </li>
        <li>
          <a
            href='https://www.iubenda.com/terms-and-conditions/95080147'
            data-umami-event='Footer - T & C'
            rel='noopener noreferrer'
            target='_blank'>Terms & Conditions</a>
        </li>
      </ul>
    </nav>
    <div class='footer-brand'>
      <ul class='social-menu'>
        <li>
          <a
            href='https://www.linkedin.com/company/interledger-foundation/'
            aria-label="Interledger's LinkedIn account"
            data-umami-event='Footer - LinkedIn'
            rel='noopener noreferrer'
            target='_blank'
          >
            <Linkedin />
          </a>
        </li>
        <li>
          <a
            href='https://communityinviter.com/apps/interledger/interledger-working-groups-slack'
            aria-label='Interledger Community Slack'
            data-umami-event='Footer - Slack'
            rel='noopener noreferrer'
            target='_blank'
          >
            <Slack />
          </a>
        </li>
        <li>
          <a
            href='https://www.instagram.com/interledgerfoundation/'
            aria-label="Interledger's Instagram account"
            data-umami-event='Footer - Instagram'
            rel='noopener noreferrer'
            target='_blank'
          >
            <Instagram />
          </a>
        </li>
        <li>
          <a
            href='https://github.com/WICG/webmonetization'
            aria-label="Web Monetization's GitHub account"
            data-umami-event='Footer - GitHub'
            rel='noopener noreferrer'
            target='_blank'
          >
            <Github />
          </a>
        </li>
        <li>
          <a
            href='https://www.youtube.com/@InterledgerFoundation'
            aria-label="Interledger's Youtube channel"
            data-umami-event='Footer - YouTube'
            rel='noopener noreferrer'
            target='_blank'
          >
            <Youtube />
          </a>
        </li>
      </ul>
      <hr class='line' />
      <a
        href='/'
        aria-label='Home page link'
        data-umami-event='Footer - Home link'
        class='home-link'
      >
        <WmNamedLogo />
      </a>
    </div>
    <small>
      Copyright © {new Date().getFullYear()} Interledger Foundation.
    </small>
  </div>
</footer>

<style>
  footer {
    padding: 0 var(--padding-md) 5rem var(--padding-md);
    font: var(--font-standard-regular);
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: var(--default-font-color);
  }

  a:hover {
    text-decoration: underline;
  }

  a:focus-visible {
    text-decoration: none;
    outline-offset: var(--padding-2xs);
  }

  small {
    display: block;
    color: var(--color-silver-800);
    font: var(--font-small-regular);
    text-align: center;
  }

  .footer-container.contentWrapper {
    padding: var(--padding-md);
    background-color: var(--footer-bg-color);
    border-radius: var(--pill-rounding);
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
    margin-bottom: var(--spacing-2xl);
  }

  .footer-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    padding-right: var(--padding-lg);
    text-align: center;
  }

  .footer-menu li:first-of-type::before {
    content: '';
    display: block;
    position: relative;
    margin-bottom: var(--spacing-sm);
    width: var(--spacing-2xl);
    height: var(--spacing-2xs);
    left: 50%;
    transform: translate(-50%);
    background-image: linear-gradient(to right, #009877, #50d098);
    border-radius: var(--fully-rounded);
  }

  .footer-brand {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-2xl);
  }

  .footer-brand ul.social-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 19.5rem;
  }

  .social-menu svg,
  .home-link svg {
    transition: transform 0.2s ease-in-out;
  }

  .social-menu a:hover svg,
  .home-link:hover svg {
    transform: scale(1.1);
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: var(--color-purple-100);
    border: none;
  }

  @media screen and (min-width: 768px) {
    footer {
      padding-top: var(--padding-sm);
    }

    .footer-container.contentWrapper {
      padding: var(--padding-2xl);
    }

    .footer-menu {
      flex-direction: row;
      justify-content: space-between;
      gap: var(--spacing-lg);
      margin-top: var(--spacing-md);
      margin-bottom: var(--spacing-md);
    }

    .footer-menu ul {
      flex: 1;
      align-items: start;
      gap: var(--spacing-md);
      text-align: left;
      border-right: 1px solid var(--color-blue-300);
    }

    .footer-menu ul:last-of-type {
      border-right: none;
    }

    .footer-menu li:first-of-type::before {
      left: 0;
      transform: translate(0%);
    }

    .footer-brand {
      flex-direction: column;
      gap: var(--spacing-lg);
      margin-bottom: var(--spacing-lg);
    }

    .footer-brand ul.social-menu {
      max-width: 12.5rem;
    }
  }
</style>
