---
---
<footer>
  <div class="footer-container contentWrapper">
    <nav class="footer-menu" aria-label="Footer navigation">
      <ul>
        <li><a href="https://community.interledger.org/" data-umami-event="Footer - Community" rel="noopener noreferrer" target="_blank">Community</a></li>
        <li><a href="https://github.com/WICG/webmonetization" data-umami-event="Footer - GitHub" rel="noopener noreferrer" target="_blank">GitHub</a></li>
        <li><a href="https://interledger.org/blog" data-umami-event="Footer - Blog" rel="noopener noreferrer" target="_blank">Blog</a></li>
      </ul>
      <ul>
        <li><a href="https://interledger.org/" data-umami-event="Footer - Interledger Foundation" rel="noopener noreferrer" target="_blank">Interledger Foundation</a></li>
        <li><a href="https://wicg.io/" data-umami-event="Footer - WICG" rel="noopener noreferrer" target="_blank">Web Incubator Community Group</a></li>
        <li><a href="https://interledger.org/summit" data-umami-event="Footer - Summit" rel="noopener noreferrer" target="_blank">Summit</a></li>
      </ul>
      <ul>
        <li><a href="https://www.iubenda.com/privacy-policy/95080147" data-umami-event="Footer - Privacy Policy" rel="noopener noreferrer" target="_blank">Privacy Policy</a></li>
        <li><a href="https://www.iubenda.com/privacy-policy/95080147/cookie-policy" data-umami-event="Footer - Cookie Policy" rel="noopener noreferrer" target="_blank">Cookie Policy</a></li>
        <li><a href="https://www.iubenda.com/terms-and-conditions/95080147" data-umami-event="Footer - T & C" rel="noopener noreferrer" target="_blank">Terms & Conditions</a></li>
      </ul>
    </nav>
    <div class="footer-brand">
      <ul class="social-menu">
        <li>
          <a href="https://www.linkedin.com/company/interledger-foundation/" aria-label="Interledger's LinkedIn account" data-umami-event="Footer - LinkedIn" rel="noopener noreferrer" target="_blank">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none">
              <path fill="#0A66C2" d="M18.524 0H1.476A1.476 1.476 0 0 0 0 1.476v17.048A1.476 1.476 0 0 0 1.476 20h17.048A1.476 1.476 0 0 0 20 18.524V1.476A1.476 1.476 0 0 0 18.524 0ZM5.96 17.038H2.954V7.486h3.007v9.552ZM4.456 6.162a1.726 1.726 0 1 1 1.736-1.724 1.702 1.702 0 0 1-1.736 1.724Zm12.588 10.884H14.04v-5.218c0-1.54-.654-2.014-1.499-2.014-.891 0-1.766.672-1.766 2.053v5.179H7.767V7.493h2.891v1.324h.04c.29-.588 1.306-1.592 2.858-1.592 1.677 0 3.49.996 3.49 3.912l-.002 5.909Z"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://communityinviter.com/apps/interledger/interledger-working-groups-slack" aria-label="Interledger Community Slack" data-umami-event="Footer - Slack" rel="noopener noreferrer" target="_blank">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none">
              <path fill="#DE1C59" d="M4.258 12.612c0 1.146-.934 2.081-2.08 2.081a2.086 2.086 0 0 1-2.08-2.08c0-1.146.935-2.082 2.08-2.082h2.08v2.081Zm1.048 0c0-1.145.936-2.08 2.08-2.08 1.146 0 2.082.935 2.082 2.08v5.209c0 1.145-.936 2.08-2.081 2.08a2.086 2.086 0 0 1-2.08-2.08v-5.209Z"/><path fill="#35C5F0" d="M7.387 4.259a2.085 2.085 0 0 1-2.08-2.08c0-1.145.935-2.08 2.08-2.08s2.08.935 2.08 2.08v2.08h-2.08Zm0 1.048c1.145 0 2.08.935 2.08 2.08 0 1.146-.935 2.081-2.08 2.081H2.178a2.086 2.086 0 0 1-2.08-2.08c0-1.146.935-2.081 2.08-2.081h5.209Z"/><path fill="#2EB57D" d="M15.741 7.388c0-1.146.934-2.081 2.08-2.081 1.145 0 2.08.935 2.08 2.08 0 1.146-.935 2.081-2.08 2.081h-2.08v-2.08Zm-1.048 0c0 1.145-.936 2.08-2.081 2.08a2.086 2.086 0 0 1-2.08-2.08V2.179c0-1.145.935-2.08 2.08-2.08s2.08.935 2.08 2.08v5.209Z"/><path fill="#EBB02E" d="M12.612 15.741c1.145 0 2.08.934 2.08 2.08 0 1.145-.935 2.08-2.08 2.08a2.086 2.086 0 0 1-2.08-2.08v-2.08h2.08Zm0-1.048a2.086 2.086 0 0 1-2.08-2.08c0-1.146.935-2.082 2.08-2.082h5.209c1.145 0 2.08.936 2.08 2.081 0 1.146-.935 2.081-2.08 2.081h-5.209Z"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/interledgerfoundation/" aria-label="Interledger's Instagram account" data-umami-event="Footer - Instagram" rel="noopener noreferrer" target="_blank">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none">
              <path fill="url(#a)" d="M15.313 0H4.687A4.688 4.688 0 0 0 0 4.688v10.625A4.688 4.688 0 0 0 4.688 20h10.625A4.688 4.688 0 0 0 20 15.312V4.688A4.688 4.688 0 0 0 15.312 0Z"/><path fill="url(#b)" d="M15.313 0H4.687A4.688 4.688 0 0 0 0 4.688v10.625A4.688 4.688 0 0 0 4.688 20h10.625A4.688 4.688 0 0 0 20 15.312V4.688A4.688 4.688 0 0 0 15.312 0Z"/><path fill="#fff" d="M10 2.188c-2.121 0-2.387.009-3.22.047-.832.038-1.4.17-1.897.363-.514.2-.95.466-1.384.9-.434.435-.701.87-.901 1.384-.194.497-.326 1.065-.363 1.897-.038.833-.047 1.1-.047 3.221 0 2.122.009 2.387.047 3.22.038.832.17 1.4.363 1.897.2.514.466.95.9 1.384.435.434.87.702 1.384.901.497.194 1.065.325 1.897.363.833.038 1.1.048 3.22.048 2.123 0 2.388-.01 3.221-.047.832-.039 1.4-.17 1.898-.363.513-.2.949-.468 1.383-.902.434-.434.701-.87.901-1.384.192-.497.324-1.065.363-1.896.038-.834.047-1.1.047-3.22 0-2.123-.01-2.389-.047-3.222-.039-.832-.17-1.4-.363-1.896-.2-.514-.467-.95-.901-1.384a3.817 3.817 0 0 0-1.384-.901c-.498-.194-1.066-.325-1.898-.363-.833-.038-1.098-.047-3.22-.047H10Zm-.7 1.407h.7c2.087 0 2.334.008 3.158.045.761.035 1.175.162 1.45.27.365.14.625.31.898.584.274.273.443.534.585.898.107.275.234.689.269 1.45.037.824.045 1.071.045 3.156s-.008 2.333-.045 3.156c-.035.762-.162 1.175-.27 1.45a2.414 2.414 0 0 1-.584.898 2.417 2.417 0 0 1-.898.584c-.275.108-.689.235-1.45.27-.824.037-1.071.045-3.157.045-2.086 0-2.334-.008-3.157-.046-.762-.035-1.175-.162-1.451-.269a2.42 2.42 0 0 1-.898-.584 2.421 2.421 0 0 1-.585-.898c-.107-.275-.234-.689-.27-1.45-.036-.824-.044-1.071-.044-3.158 0-2.086.008-2.332.045-3.156.035-.761.162-1.175.269-1.45a2.42 2.42 0 0 1 .585-.899c.273-.273.534-.442.898-.584.276-.108.69-.235 1.45-.27.722-.032 1-.042 2.457-.044v.002Zm4.871 1.298a.937.937 0 1 0 0 1.875.937.937 0 0 0 0-1.876Zm-4.17 1.095a4.012 4.012 0 1 0 0 8.024 4.012 4.012 0 0 0 0-8.024Zm0 1.408a2.604 2.604 0 1 1 0 5.208 2.604 2.604 0 0 1 0-5.208Z"/><defs><radialGradient id="a" cx="0" cy="0" r="1" gradientTransform="matrix(0 -19.8215 18.4355 0 5.313 21.54)" gradientUnits="userSpaceOnUse"><stop stop-color="#FD5"/><stop offset=".1" stop-color="#FD5"/><stop offset=".5" stop-color="#FF543E"/><stop offset="1" stop-color="#C837AB"/></radialGradient><radialGradient id="b" cx="0" cy="0" r="1" gradientTransform="matrix(1.73902 8.68797 -35.81212 7.16832 -3.35 1.44)" gradientUnits="userSpaceOnUse"><stop stop-color="#3771C8"/><stop offset=".128" stop-color="#3771C8"/><stop offset="1" stop-color="#60F" stop-opacity="0"/></radialGradient></defs>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://github.com/WICG/webmonetization" aria-label="Web Monetization's GitHub account" data-umami-event="Footer - GitHub" rel="noopener noreferrer" target="_blank">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none">
              <path fill="#000" d="M10.001 1.667A8.331 8.331 0 0 0 1.668 10a8.325 8.325 0 0 0 5.697 7.907c.417.072.574-.178.574-.397 0-.197-.011-.853-.011-1.552-2.093.386-2.635-.51-2.802-.979-.094-.24-.5-.979-.854-1.177-.292-.156-.708-.542-.01-.552.656-.01 1.124.604 1.281.854.75 1.26 1.947.906 2.427.688.073-.542.291-.906.531-1.114-1.854-.209-3.791-.928-3.791-4.115 0-.907.322-1.656.854-2.24-.084-.208-.375-1.062.083-2.208 0 0 .698-.22 2.292.853a7.75 7.75 0 0 1 2.083-.28c.708 0 1.417.093 2.083.28 1.595-1.083 2.292-.853 2.292-.853.458 1.146.167 2 .083 2.208.531.584.855 1.323.855 2.24 0 3.198-1.948 3.906-3.802 4.115.302.26.563.76.563 1.541 0 1.114-.011 2.01-.011 2.292 0 .218.156.478.573.395A8.35 8.35 0 0 0 18.334 10 8.331 8.331 0 0 0 10 1.667"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/@InterledgerFoundation" aria-label="Interledger's Youtube channel" data-umami-event="Footer - YouTube" rel="noopener noreferrer" target="_blank">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="28" height="20" fill="none">
              <path fill="red" d="M27.382 3.12a3.59 3.59 0 0 0-.909-1.595 3.508 3.508 0 0 0-1.57-.923C22.732 0 13.987 0 13.987 0S5.24.018 3.068.62a3.507 3.507 0 0 0-1.57.923A3.589 3.589 0 0 0 .59 3.138C-.068 7.06-.323 13.036.608 16.8a3.59 3.59 0 0 0 .908 1.594c.435.442.976.76 1.57.924 2.172.602 10.918.602 10.918.602s8.745 0 10.917-.602a3.508 3.508 0 0 0 1.57-.924 3.59 3.59 0 0 0 .909-1.594c.693-3.927.906-9.9-.018-13.682Z"/><path fill="#fff" d="m11.203 14.229 7.255-4.269-7.255-4.268v8.537Z"/>
            </svg>
          </a>
        </li>
      </ul>
      <hr class="line" />
      <a href="/" aria-label="Home page link" data-umami-event="Footer - Home link" class="home-link">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="176" height="44" fill="none">
          <path fill="#FF7A7F" d="M34.712 31.333v2.62H2.897V16.2l4.217.001.001-2.873-7.09-.003v.004H.023V36.656h.002v.171h34.688v.002h2.873v-5.496h-2.873Z"/><path fill="#FFC8DC" d="M10.865 33.953h-7.97v2.895h7.97v-2.895Z"/><path fill="#A3BEDC" d="M2.895 36.849v-7.97H-.001v7.97h2.896Z"/><path fill="#56B7B5" d="M2.895 28.878v-7.97H-.001v7.97h2.896Z"/><path fill="#FF9852" d="M18.798 33.953h-7.97v2.895h7.97v-2.895Z"/><path fill="#98E1D0" d="M26.79 33.953h-7.97v2.895h7.97v-2.895Z"/><path fill="#8075B3" d="M34.76 33.953h-7.97v2.895h7.97v-2.895Z"/><path fill="#8075B3" d="M37.586 36.848v-6.866H34.69v6.866h2.895Z"/><path fill="#98E1D0" d="M6.437 30.655H44V7.152H6.437v23.503Z"/><path fill="#fff" d="M11.638 20.718h2.525c.31 0 .56-.25.56-.56v-2.523a.56.56 0 0 0-.56-.56h-2.525a.56.56 0 0 0-.56.56v2.525c0 .308.25.558.56.558ZM25.221 24.831a5.85 5.85 0 1 0 0-11.7 5.85 5.85 0 0 0 0 11.7ZM36.271 20.718h2.525c.31 0 .56-.25.56-.56v-2.523a.56.56 0 0 0-.56-.56H36.27a.56.56 0 0 0-.56.56v2.525c0 .308.25.558.56.558Z"/><path fill="#363636" d="m59.082 27-2.784-10.182h1.253l2.128 8.293h.1l2.167-8.293h1.392l2.168 8.293h.1l2.127-8.293h1.253L66.202 27h-1.273l-2.247-8.114h-.08L60.355 27h-1.273Zm13.772.16c-.736 0-1.37-.163-1.904-.488a3.27 3.27 0 0 1-1.228-1.372c-.285-.59-.428-1.276-.428-2.059 0-.782.143-1.471.428-2.068.288-.6.689-1.067 1.203-1.402.517-.338 1.12-.507 1.81-.507.397 0 .79.067 1.178.2.387.132.74.347 1.059.645.318.295.571.686.76 1.174.19.487.284 1.087.284 1.8v.497h-5.887v-1.015h4.693c0-.43-.086-.815-.258-1.153a1.949 1.949 0 0 0-.726-.8c-.311-.196-.68-.294-1.104-.294-.467 0-.871.116-1.213.348a2.289 2.289 0 0 0-.78.895 2.629 2.629 0 0 0-.274 1.183v.677c0 .576.1 1.065.299 1.466.202.398.482.701.84.91.358.205.774.308 1.248.308.308 0 .586-.043.835-.13.252-.089.469-.221.651-.397.182-.179.323-.4.423-.666l1.133.318c-.119.385-.32.723-.601 1.014-.282.289-.63.514-1.044.677-.415.159-.88.238-1.397.238ZM77.96 27V16.818h1.173v3.759h.1c.085-.133.205-.302.357-.507.156-.21.378-.395.666-.557.292-.166.686-.249 1.184-.249.643 0 1.21.161 1.7.482.49.322.873.778 1.148 1.368.275.59.413 1.286.413 2.088 0 .808-.138 1.51-.413 2.103-.275.59-.656 1.047-1.143 1.372-.487.321-1.05.482-1.685.482-.491 0-.884-.081-1.179-.243a2.185 2.185 0 0 1-.68-.562 7.561 7.561 0 0 1-.369-.527h-.139V27H77.96Zm1.153-3.818c0 .577.084 1.085.254 1.526.168.438.415.78.74 1.03.325.245.723.367 1.193.367.491 0 .9-.13 1.228-.388a2.37 2.37 0 0 0 .746-1.054c.17-.444.254-.938.254-1.481 0-.537-.083-1.021-.249-1.452a2.243 2.243 0 0 0-.74-1.029c-.329-.255-.741-.383-1.239-.383-.477 0-.878.121-1.203.363-.325.239-.57.573-.735 1.004-.166.428-.25.927-.25 1.497Zm11.48-6.364h1.47l3.461 8.452h.12l3.46-8.452h1.471V27h-1.153v-7.736h-.1L96.141 27h-1.114l-3.182-7.736h-.1V27h-1.153V16.818ZM105.99 27.16c-.69 0-1.295-.164-1.815-.492a3.346 3.346 0 0 1-1.213-1.377c-.288-.59-.433-1.28-.433-2.068 0-.796.145-1.49.433-2.084a3.34 3.34 0 0 1 1.213-1.382c.52-.328 1.125-.492 1.815-.492.689 0 1.292.164 1.809.492.521.328.925.79 1.213 1.383.292.593.438 1.287.438 2.083 0 .788-.146 1.478-.438 2.068a3.291 3.291 0 0 1-1.213 1.377c-.517.328-1.12.492-1.809.492Zm0-1.054c.523 0 .954-.134 1.292-.403.338-.268.589-.621.751-1.059.162-.437.244-.911.244-1.421s-.082-.986-.244-1.427a2.402 2.402 0 0 0-.751-1.07c-.338-.27-.769-.407-1.292-.407-.524 0-.955.136-1.293.408a2.41 2.41 0 0 0-.751 1.069c-.162.44-.243.916-.243 1.427 0 .51.081.984.243 1.421.163.438.413.79.751 1.06.338.268.769.402 1.293.402Zm6.424-3.699V27h-1.173v-7.636h1.133v1.193h.1c.179-.388.451-.7.815-.935.365-.238.835-.358 1.412-.358.517 0 .97.106 1.357.318.388.21.69.527.905.955.216.424.323.961.323 1.61V27h-1.173v-4.773c0-.6-.156-1.067-.467-1.402-.312-.338-.739-.507-1.283-.507-.375 0-.709.081-1.004.244a1.74 1.74 0 0 0-.691.71c-.169.312-.254.69-.254 1.134Zm10.218 4.753c-.736 0-1.371-.162-1.904-.487a3.27 3.27 0 0 1-1.228-1.372c-.285-.59-.428-1.276-.428-2.059 0-.782.143-1.471.428-2.068.288-.6.689-1.067 1.203-1.402.517-.338 1.12-.507 1.81-.507.397 0 .79.067 1.178.2.388.132.741.347 1.059.645.318.295.572.686.761 1.174.188.487.283 1.087.283 1.8v.497h-5.886v-1.015h4.693c0-.43-.086-.815-.259-1.153a1.948 1.948 0 0 0-.726-.8c-.311-.196-.679-.294-1.103-.294-.468 0-.872.116-1.213.348a2.289 2.289 0 0 0-.781.895 2.632 2.632 0 0 0-.273 1.183v.677c0 .576.099 1.065.298 1.466.202.398.482.701.84.91.358.205.774.308 1.248.308.308 0 .587-.043.835-.13.252-.089.469-.221.651-.397.183-.179.324-.4.423-.666l1.134.318c-.12.385-.32.723-.602 1.014-.282.289-.63.514-1.044.677-.414.159-.88.238-1.397.238Zm8.268-7.795v.994h-3.958v-.994h3.958Zm-2.804-1.83h1.173v7.279c0 .33.048.58.144.745.1.163.226.272.378.328.156.053.32.08.492.08.13 0 .236-.007.318-.02l.199-.04.239 1.054c-.08.03-.191.06-.333.09-.143.033-.323.05-.542.05a2.36 2.36 0 0 1-.974-.214 1.939 1.939 0 0 1-.786-.652c-.205-.291-.308-.66-.308-1.103v-7.597ZM132.666 27v-7.636h1.173V27h-1.173Zm.596-8.91a.833.833 0 0 1-.591-.233.749.749 0 0 1-.244-.561c0-.22.081-.407.244-.562a.833.833 0 0 1 .591-.234c.229 0 .424.078.587.234a.742.742 0 0 1 .248.561.742.742 0 0 1-.248.562.818.818 0 0 1-.587.234Zm2.507 8.91v-.895l4.335-5.568v-.08h-4.196v-1.093h5.708v.934l-4.216 5.529v.08h4.355V27h-5.986Zm10.04.179a3.1 3.1 0 0 1-1.317-.273 2.258 2.258 0 0 1-.94-.8c-.232-.352-.348-.777-.348-1.274 0-.437.086-.792.259-1.064.172-.275.402-.49.691-.646.288-.156.606-.272.954-.348.352-.08.705-.142 1.059-.189.464-.06.84-.104 1.129-.134.291-.033.504-.088.636-.164.136-.076.204-.209.204-.398v-.04c0-.49-.134-.871-.403-1.143-.265-.272-.668-.408-1.208-.408-.56 0-.999.123-1.317.368-.318.245-.542.507-.671.786l-1.114-.398c.199-.464.464-.825.795-1.084.335-.262.7-.444 1.094-.547.398-.106.789-.159 1.173-.159.246 0 .527.03.846.09.321.056.631.174.929.353.302.179.552.449.751.81.199.361.298.845.298 1.452V27h-1.173v-1.034h-.06a2.064 2.064 0 0 1-.397.532c-.186.189-.433.35-.741.482-.308.133-.685.199-1.129.199Zm.179-1.054c.464 0 .855-.091 1.174-.273a1.86 1.86 0 0 0 .974-1.616v-1.074c-.05.06-.159.114-.328.164a5.554 5.554 0 0 1-.577.124 26.387 26.387 0 0 1-1.123.15c-.305.04-.59.104-.856.193a1.481 1.481 0 0 0-.636.393c-.159.172-.239.408-.239.706 0 .408.151.716.453.925.305.205.691.308 1.158.308Zm8.784-6.761v.994h-3.958v-.994h3.958Zm-2.804-1.83h1.173v7.279c0 .33.048.58.144.745.1.163.226.272.378.328.156.053.32.08.492.08.13 0 .236-.007.319-.02l.198-.04.239 1.054c-.08.03-.191.06-.333.09-.143.033-.323.05-.542.05a2.36 2.36 0 0 1-.974-.214 1.939 1.939 0 0 1-.786-.652c-.205-.291-.308-.66-.308-1.103v-7.597ZM156.537 27v-7.636h1.173V27h-1.173Zm.596-8.91a.833.833 0 0 1-.591-.233.749.749 0 0 1-.244-.561c0-.22.081-.407.244-.562a.833.833 0 0 1 .591-.234c.229 0 .425.078.587.234a.743.743 0 0 1 .249.561.743.743 0 0 1-.249.562.817.817 0 0 1-.587.234Zm5.828 9.07c-.689 0-1.294-.165-1.814-.493a3.34 3.34 0 0 1-1.213-1.377c-.289-.59-.433-1.28-.433-2.068 0-.796.144-1.49.433-2.084a3.333 3.333 0 0 1 1.213-1.382c.52-.328 1.125-.492 1.814-.492.69 0 1.293.164 1.81.492.52.328.925.79 1.213 1.383.292.593.438 1.287.438 2.083 0 .788-.146 1.478-.438 2.068a3.298 3.298 0 0 1-1.213 1.377c-.517.328-1.12.492-1.81.492Zm0-1.055c.524 0 .955-.134 1.293-.403a2.38 2.38 0 0 0 .751-1.059c.162-.437.243-.911.243-1.421s-.081-.986-.243-1.427a2.41 2.41 0 0 0-.751-1.07c-.338-.27-.769-.407-1.293-.407-.523 0-.954.136-1.292.408a2.402 2.402 0 0 0-.751 1.069c-.162.44-.244.916-.244 1.427 0 .51.082.984.244 1.421.162.438.413.79.751 1.06.338.268.769.402 1.292.402Zm6.425-3.699V27h-1.173v-7.636h1.133v1.193h.099c.179-.388.451-.7.816-.935.364-.238.835-.358 1.412-.358.517 0 .969.106 1.357.318.388.21.689.527.905.955.215.424.323.961.323 1.61V27h-1.173v-4.773c0-.6-.156-1.067-.468-1.402-.311-.338-.739-.507-1.282-.507-.375 0-.71.081-1.005.244-.291.162-.522.4-.691.71-.169.312-.253.69-.253 1.134Z"/>
        </svg>
      </a>
    </div>
    <small>
      Copyright © {new Date().getFullYear()} Interledger Foundation.
    </small>
  </div>
</footer>

<style>
  footer {
    padding: 0 var(--padding-md) 5rem var(--padding-md);
    font: var(--font-standard-regular);
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--default-font-color);
  }
  
  a:hover, a:focus-visible {
    text-decoration: underline;
  }
  
  small {
    display: block;
    color: var(--color-silver-800);
    font: var(--font-small-regular);
    text-align: center;
  }
  
  .footer-container.contentWrapper {
    padding: var(--padding-md);
    background-color: var(--footer-bg-color);
    border-radius: var(--pill-rounding);
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
    margin-bottom: var(--spacing-2xl);
  }

  .footer-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    padding-right: var(--padding-lg);
    text-align: center;
  }

  .footer-menu li:first-of-type::before {
    content: "";
    display: block;
    position: relative;
    margin-bottom: var(--spacing-sm);
    width: var(--spacing-2xl);
    height: var(--spacing-2xs);
    left: 50%;
    transform: translate(-50%);
    background-image:linear-gradient(to right, #009877, #50D098);
    border-radius: var(--fully-rounded);
  }

  .footer-brand {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-2xl);
  }

  .footer-brand ul.social-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 19.5rem;
  }

  .line {
    width:100%;
    height: 1px;
    background-color: var(--color-purple-100);
    border: none;
  }

  @media screen and (min-width: 768px) {
    footer {
      padding-top: var(--padding-sm);
    }

    .footer-container.contentWrapper {
      padding: var(--padding-2xl);
    }

    .footer-menu {
      flex-direction: row;
      justify-content: space-between;
      gap: var(--spacing-lg);
      margin-top: var(--spacing-md);
      margin-bottom: var(--spacing-md);
    }

    .footer-menu ul {
      flex: 1;
      align-items: start;
      gap: var(--spacing-md);
      text-align: left;
      border-right: 1px solid var(--color-blue-300);
    }
    
    .footer-menu ul:last-of-type {
      border-right: none;
    }
   
    .footer-menu li:first-of-type::before {
      left: 0;
      transform: translate(0%);
    }

    .footer-brand {
      flex-direction: column;
      gap: var(--spacing-lg);
      margin-bottom: var(--spacing-lg);
    }

    .footer-brand ul.social-menu {
      max-width: 12.5rem;
    }
  }
</style>
