---
import type { HowItWorks } from '../../types/shared.ts'
interface Props {
  content: HowItWorks
}

const { content } = Astro.props
---

<section class='section'>
  <div class='contentWrapper'>
    <div class='how-it-works'>
      <h2>{content.heading}</h2>
      <slot />
      <div class='diagram-container'>
        <picture>
          <source
            srcset={content.imageVertical.src}
            media='(max-width: 767px)'
          />
          <img
            alt={content.alt}
            src={content.imageHorizontal.src}
            loading='lazy'
          />
        </picture>
      </div>
    </div>
  </div>
</section>

<style>
  .how-it-works {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
    padding-inline: var(--padding-md);
  }

  .how-it-works .diagram-container {
    aspect-ratio: 1248/280;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40rem;
    margin: auto;
  }

  .how-it-works .diagram-container img {
    height: auto;
    width: 100%;
    display: block;
    max-height: 100%;
  }

  @media screen and (max-width: 767px) {
    .how-it-works h2 {
      font: var(--font-h3);
    }

    .how-it-works .diagram-container {
      aspect-ratio: 258/486;
      width: auto;
      max-height: 30rem;
    }
  }
</style>
