---
const { class: className, href, event } = Astro.props;
---
<a href={href} class:list={className} data-umami-event={event}>
  <slot />
</a>

<style>
  a {
    padding: var(--space-xs) var(--space-s);
    border: 3px solid var(--wm-accent);
    border-radius: var(--border-radius);
    box-shadow: 0px 1px 1px hsla(0, 0%, 0%, .1), 0px 2px 1px hsla(0, 0%, 0%, .1), 0px 3px 2px hsla(0, 0%, 0%, .1);
    font-size: var(--step-0);
    margin-block-end: var(--space-s);
    color: var(--color-black);
  }
</style>
