---

---

<footer>
  <div class='contentWrapper'>
    <small>
      Copyright © {new Date().getFullYear()} Interledger Foundation.
    </small>
  </div>
</footer>

<style>
  footer {
    padding: 0 var(--padding-md) var(--padding-2xl) var(--padding-md);
    font: var(--font-standard-regular);
  }

  small {
    display: block;
    color: var(--color-silver-800);
    font: var(--font-small-regular);
    text-align: center;
  }
</style>
