---
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<footer>
  <div class='contentWrapper'>
    <small class='copyright'>
      <a
        href='https://www.w3.org/policies/#copyright'
        data-umami-event='Footer - Copyright'
        rel='noopener noreferrer'
        target='_blank'>{t('footer.copyright.link_label')}</a
      > © {new Date().getFullYear()}
      {t('footer.copyright.text_after_year')}
      <a
        href='https://www.w3.org/community/wicg/'
        data-umami-event='Footer - Web Platform Incubator Community Group'
        rel='noopener noreferrer'
        target='_blank'>{t('footer.copyright.WICG_link_label')}</a
      >
      {t('footer.copyright.under_text')}
      <a
        href='https://www.w3.org/community/about/process/cla/'
        data-umami-event='Footer - W3C Community CLA'
        rel='noopener noreferrer'
        target='_blank'>{t('footer.copyright.license_link_label')}</a
      >. {t('footer.copyright.summary_text')}
      <a
        href='https://www.w3.org/community/about/process/cla-deed/'
        data-umami-event='Footer - Summary CLA'
        rel='noopener noreferrer'
        target='_blank'>{t('footer.copyright.summary_link_label')}</a
      >
      {t('footer.copyright.summary_suffix')}.
    </small>
  </div>
</footer>

<style>
  footer {
    padding: 0 var(--padding-md) var(--padding-2xl) var(--padding-md);
    font: var(--font-standard-regular);
  }

  small {
    display: block;
    color: var(--color-silver-800);
    font: var(--font-small-regular);
    text-align: center;
  }

  .copyright {
    margin: auto;
    max-width: 60em;
  }

  .copyright a {
    color: inherit;
    text-decoration: underline;
  }

  .copyright a:hover,
  .copyright a:focus {
    color: var(--default-font-color);
  }
</style>
