---

---

<footer>
  <div class='contentWrapper'>
    <small class='copyright'>
      <a
        href='https://www.w3.org/policies/#copyright'
        data-umami-event='Footer - Copyright'
        rel='noopener noreferrer'
        target='_blank'>Copyright</a
      > © {new Date().getFullYear()} the Contributors to the Web Monetization Specification,
      published by the
      <a
        href='https://www.w3.org/community/wicg/'
        data-umami-event='Footer - Web Platform Incubator Community Group'
        rel='noopener noreferrer'
        target='_blank'>Web Platform Incubator Community Group</a
      > under the <a
        href='https://www.w3.org/community/about/process/cla/'
        data-umami-event='Footer - W3C Community CLA'
        rel='noopener noreferrer'
        target='_blank'>W3C Community Contributor License Agreement (CLA)</a
      >. A human-readable <a
        href='https://www.w3.org/community/about/process/cla-deed/'
        data-umami-event='Footer - Summary CLA'
        rel='noopener noreferrer'
        target='_blank'>summary</a
      > is available.
    </small>
  </div>
</footer>

<style>
  footer {
    padding: 0 var(--padding-md) var(--padding-2xl) var(--padding-md);
    font: var(--font-standard-regular);
  }

  small {
    display: block;
    color: var(--color-silver-800);
    font: var(--font-small-regular);
    text-align: center;
  }

  .copyright {
    margin: auto;
    max-width: 60em;
  }

  .copyright a {
    color: inherit;
    text-decoration: underline;
  }

  .copyright a:hover,
  .copyright a:focus {
    color: var(--default-font-color);
  }
</style>
