---
import FooterCopyright from './FooterCopyright.astro'
---

<footer>
  <div class='contentWrapper'>
    <FooterCopyright />
  </div>
</footer>

<style>
  footer {
    padding: 0 var(--padding-md) var(--padding-2xl) var(--padding-md);
    font: var(--font-standard-regular);
  }
</style>
