---
---
<div class="nav-links">
  <a href="/docs/">Docs</a>
  <a href="/specification">Specification</a>
</div>

<style>
  a {
    text-decoration: none;
    color: var(--sl-color-text);
    margin-right: 1em;
  }
</style>
