---
---
<aside>
  <span class="icon">🚧</span>
  <slot />
</aside>

<style>
  aside {
    padding: var(--space-xs) var(--space-s);
    background-color: hsl(41, 90%, 95%);
    border-radius: var(--border-radius);
    box-shadow: 0px 1px 1px hsla(0, 0%, 0%, .06), 0px 2px 1px hsla(0, 0%, 0%, .06);
    max-width: fit-content;
    font-size: var(--step-0);
    margin-block-end: var(--space-s);
    color: var(--color-black);
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    line-height: 1.39;
  }
</style>
