---
const { label } = Astro.props;
---
<div class="cta">
  <img class="iconMerge" src="/img/icon-merge.svg" alt="" />
  <p>
    Do you know another {label}?{" "}
    <a
      href="https://github.com/WICG/webmonetization/pulls"
      target="_blank"
      rel="noreferrer noopener"
    >
      Make a PR
    </a>
  </p>
</div>

<style>
.cta {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  margin-block-end: var(--space-s);
  justify-content: center;
  font-size: var(--step--1);
}

.cta p {
  margin: 0;
}

.cta a {
  white-space: nowrap;
}

.iconMerge {
  width: 1em;
}

</style>
