---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Base from "../layouts/Base.astro";
import dataPill from "../data/home.json";
import data from "../data/developers.json";
import AudienceHero from "../components/pages/AudienceHero.astro";
import SplitLayout from '../components/pages/SplitLayout.astro'

const heroContent = {
  ...data.heroContent,
  pills: dataPill.pillTags.developer
}
const playgroundContent = data.playgroundContent; 

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<Base title={t('pages.developers.title')} description={t('pages.developers.description')}>
  <AudienceHero content={heroContent} />
  <SplitLayout content={playgroundContent}>
    <p>The Web Monetization Playground is a developer-friendly environment to understand how Web Monetization works under the hood and to test payment flows.</p>
  </SplitLayout>
</Base>

<style>
    .hero-ctas a.secondary {
        display: none;
    }
</style>