---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Base from "../layouts/Base.astro";
import data from "../data/home.json";
import AudienceHero from "../components/pages/AudienceHero.astro";
import SplitLayout from '../components/pages/SplitLayout.astro'

const heroContent = {
  heroTitle: "I am a developer",
  heroSubtitle: "I want to help shape the future of the web",
  heroImgSrc: "/img/hero-developer.svg",
  heroImgWidth: 600,
  heroImgHeight: 611,
  heroParagraph: "Whether you're building plugins, extensions, or libraries,  your contributions can make open, sustainable monetization a reality.",
  pills: data.pillTags.developer,
  primaryCta: {
    href:  "/developers/interfaces/",
    text: "Read the technical documentation",
    event: "Developers page link - WM API"
  }
};

const playgroundContent = {
  image: {
    src: '/img/developer-playground.svg',
    width: 292,
    height: 347,
    position: 'left',
  },
  title: 'Web Monetization Playground',
  primaryCta: {
    text: 'Try the playground',
    href: '/play/',
    event: 'Developers page - Playground',
  },
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<Base title={t('pages.developers.title')} description={t('pages.developers.description')}>
  <AudienceHero content={heroContent} />
  <SplitLayout content={playgroundContent}>
    <p>The Web Monetization Playground is a developer-friendly environment to understand how Web Monetization works under the hood and to test payment flows.</p>
  </SplitLayout>
</Base>

<style>
    .hero-ctas a.secondary {
        display: none;
    }
</style>