---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import Base from '../layouts/Base.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Base
  title={t('pages.faq.title')}
  description={t('pages.faq.description')}
>
  <section class="section">
    <div class='contentWrapper faq-hero'>
      <h1>Frequently asked <br><strong>Questions</strong></h1>
      <img src="src/assets/faq-hero-icon.png" width="594" height="589"/>
    </div>
  </section>



  <section class="section faq-main">
    <div class='contentWrapper'>
      <div class="faq-category">
        <h2>Question Category heading</h2>
        <div class="faq-item">
        <button>
          <p>Do I have to pay to participate?</p> 
        </button>
        <!-- after pseudo on button - arroq -->
        <div>
          <p>No, participation is free</p>
        </div>
      </div>
      </div>
      <div class="faq-item">
        <button>
          <p>Do I have to pay to participate?</p> 
        </button>
        <!-- after pseudo on button - arroq -->
        <div>
          <p>No, participation is free</p>
        </div>
      </div>
    </div>
  </section>
</Base>

<style>
  .faq-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .faq-item {
    background-color: white;
    margin-bottom: 5px;
  }
  .faq-item button {
    width: 100%;
    
    background-color: transparent;
    border: none;
  }
</style>

<script>

</script>