---
import i18next, { t, changeLanguage } from "i18next";
import Base from "../layouts/Base.astro";
import Note from "../components/pages/Note.astro";
import LinkCard from "../components/pages/LinkCard.astro";

changeLanguage("en");

const title = t("site.title");
const description = t("site.description");
---
<Base title={title} description={description}>
  <section class="hero">
    <div class="heroContent">
      <img
        alt="Web Monetization Logo"
        class="heroLogo"
        src="/img/wm-logo--animated.svg"
      />
      <h2 class="heroHeading">Pay the Web forward</h2>
    </div>
  </section>

  <section class="section">
    <div class="contentWrapperMd">
      <p>Web Monetization is a web technology that enables websites to receive small payments from users/supporters as they interact with the website and its content. It provides a way for creators and website owners to be compensated for their work without relying solely on ads or subscriptions.</p>
      <p>Notably, Web Monetization offers two unique features, small payments and no user interaction, which address several important scenarios currently unmet on the web.</p>
      <p>Web Monetization is for consumers of web content who would like to support the creators they value, in other words, folks who would like to pay and be paid on the web.</p>
    </div>
  </section>

  <section class="section">
    <div class="contentWrapperMd">
      <h2 class="heading2">Key Concepts</h2>
      <p>Web Monetization gives users more options and control over who to pay, if and when to pay, as well as how much to pay.</p>
      <p>Being a web technology, folks who build on the web would be able to implement Web Monetization on websites via Javascript APIs. And since Web Monetization is an open standard, any interested party can also become a Web Monetization provider if they wish to.</p>
    </div>
  </section>

  <section class="section">
    <div class="contentWrapperMd">
      <img src="/img/wm-intro.svg" alt="Diagram of a mobile device displaying a website and a computer showing the source code of the website emphasing the <link> tag which implements Web Monetization" />
    </div>
  </section>

  <section class="section">
    <div class="contentWrapperMd">
      <h2 class="heading2">Getting Started</h2>
      <Note>Web Monetization is currently only supported in the United States, Europe, the United Kingdom and South Africa.</Note>
      <p>Regardless of what you want to do with Web Monetization, the start of everything is getting a wallet address. A wallet address is a secure, unique URL that represents an Open Payments-enabled account.</p>
      <p>Similar to how an email address is a publicly shareable ID for an email account, a wallet address is a publicly shareable payment address for the underlying account. You can get a digital wallet from a provider like <a href="https://interledger.app/" data-umami-event="Landing page - Interledger wallet">Fynbos</a> or <a href="https://gatehub.net/" data-umami-event="Landing page - GateHub">GateHub</a>.</p>
    </div>
  </section>

  <section class="section">
    <div class="contentWrapperMd">
      <h2 class="heading2">What do you want to do with Web Monetization?</h2>
      <div class="cards">
        <LinkCard href="javascript:void(0)" class="send-money" event="Landing page - Send payments">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="285" height="221" fill="none" viewBox="0 0 285 221"><g class="hand"><path fill="url(#a)" fill-rule="evenodd" d="m265.542 137.494-2.922 1.578c-.53-3.896-2.022-8.162-5.56-10.221-4.118-2.379-10.221-2.342-14.511.111l-28.234 16.151c-2.256-4.389-6.83-7.41-12.095-7.447l-41.425-.259c-.58-.197-1.122-.382-1.64-.554-6.177-2.096-9.9-3.354-24.239-3.354-12.883 0-39.736 3.477-52.361 16.435l-7.68.074c0-7.768-6.042-13.784-13.55-13.784H13.55c-7.472 0-13.55 6.09-13.55 13.549v57.145c0 7.472 6.078 13.55 13.55 13.55h47.775c7.47 0 13.55-6.078 13.55-13.55v-.407h30.033c7.804 0 12.624.346 20.589 1.48 26.594 3.785 59.746 7.521 84.589-3.982l68.636-42.659c13.328-8.272 3.785-33.004-13.18-23.856Z" clip-rule="evenodd"/><path fill="url(#b)" fill-rule="evenodd" d="m274.061 153.854-67.92 42.239c-22.316 10.147-52.682 6.942-79.399 3.144-8.445-1.208-13.55-1.566-21.835-1.566H74.874v-38.824l9.703-.098a4.374 4.374 0 0 0 3.34-1.578c8.064-9.642 30.244-14.832 46.999-14.832 14.265 0 16.089 1.134 23.783 3.686.431.148.887.222 1.356.222l42.116.271c2.663.013 4.833 2.17 4.833 4.796 0 2.959-2.713 4.574-5.24 4.821l-54.013 5.375c-4.55.457-5.475 6.732-1.258 8.471 14.573 6.028 27.592 8.494 39.428 8.494 21.712 0 39.502-8.273 55.678-18.012l2.836-1.529 25.323-13.661a4.82 4.82 0 0 1 3.65-.37c4.525 1.369 2.342 7.916.666 8.951h-.013Z" clip-rule="evenodd"/><path fill="url(#c)" d="M61.312 145.051H13.55a4.722 4.722 0 0 0-4.722 4.722v57.133a4.722 4.722 0 0 0 4.722 4.722h47.762a4.722 4.722 0 0 0 4.722-4.722v-57.133a4.722 4.722 0 0 0-4.722-4.722Z"/><path fill="url(#d)" fill-rule="evenodd" d="m246.938 136.618-31.563 18.05c-1.442 5.486-6.361 9.592-12.748 10.233l-32.314 3.218c19.357 3.797 35.705.333 51.806-7.2l29.294-15.806a4.709 4.709 0 0 0 2.306-2.848c1.171-3.933-1.998-8.384-6.769-5.647h-.012Z" clip-rule="evenodd"/></g><g class="money"><path fill="url(#e)" d="M183.665 127.84c22.6 0 40.92-18.321 40.92-40.92 0-22.6-18.32-40.92-40.92-40.92-22.599 0-40.92 18.32-40.92 40.92 0 22.599 18.321 40.92 40.92 40.92Z"/><path fill="#fff" d="M201.259 73.753c5.634 8.913 5.548 17.186-.087 26.112 1.246.974 2.688 1.862 3.822 3.046 1.517 1.566 1.443 3.378-.148 4.907-1.504 1.442-3.205 1.393-4.709.012-1.147-1.06-2.133-2.305-3.329-3.637-8.556 5.486-17.014 5.536-25.435.111-1.307 1.245-2.478 2.429-3.723 3.526-1.652 1.455-3.415 1.443-4.932-.123-1.529-1.578-1.467-3.354.05-4.932 1.084-1.122 2.33-2.096 3.612-3.218-5.425-8.58-5.61-16.952.185-26.039-1.208-.937-2.651-1.824-3.81-2.983-1.541-1.529-1.578-3.341-.024-4.92 1.541-1.578 3.353-1.59 4.919-.061 1.183 1.147 2.12 2.552 3.181 3.859 8.877-5.696 17.248-5.696 26.088-.025 1.072-1.307 2.022-2.688 3.193-3.834 1.467-1.43 3.193-1.492 4.71-.062 1.603 1.504 1.701 3.304.234 4.92-1.11 1.22-2.49 2.194-3.81 3.328l.013.013Zm-17.298-1.579c-8.273-.024-14.622 6.264-14.634 14.487-.013 8.236 6.312 14.585 14.548 14.598 8.149.012 14.548-6.448 14.523-14.647-.024-8.063-6.386-14.425-14.437-14.45v.012Z"/></g><defs><linearGradient id="a" x1="-.012" x2="284.997" y1="173.778" y2="173.778" gradientUnits="userSpaceOnUse"><stop stop-color="#077"/><stop offset="1" stop-color="#12AA98"/></linearGradient><linearGradient id="b" x1="276.099" x2="74.887" y1="172.615" y2="172.615" gradientUnits="userSpaceOnUse"><stop stop-color="#8ED7C6"/><stop offset="1" stop-color="#56ADAB"/></linearGradient><linearGradient id="c" x1="66.034" x2="8.831" y1="178.338" y2="178.338" gradientUnits="userSpaceOnUse"><stop stop-color="#8ED7C6"/><stop offset="1" stop-color="#56ADAB"/></linearGradient><linearGradient id="d" x1="253.963" x2="170.318" y1="152.721" y2="152.721" gradientUnits="userSpaceOnUse"><stop stop-color="#8ED7C6"/><stop offset="1" stop-color="#56ADAB"/></linearGradient><linearGradient id="e" x1="142.737" x2="224.589" y1="86.917" y2="86.917" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7A7F"/><stop offset="1" stop-color="#FF577F"/></linearGradient></defs></svg>
          <p>I want to send payments</p>
        </LinkCard>
        <LinkCard href="javascript:void(0)" class="receive-money" event="Landing page - Receive payments">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="288" height="222" fill="none" viewBox="0 0 288 222"><g class="money-bag"><path fill="url(#h)" d="M178.201 40.672c-9.303-8.922-21.935-13.045-34.578-12.822h-.078c-12.644-.223-25.275 3.9-34.579 12.822C94.293 54.748 89.8 66.596 90.08 95.397c.257 26.74.04 28.648 0 28.782v.023l.235.369c-.04 3.535-.011 6.674.118 9.152.693 13.684 13.778 18.551 18.019 19.681h70.655c4.241-1.13 16.934-5.997 17.628-19.681.123-2.456.145-5.583.089-9.107l.263-.414s.006-.017 0-.023c-.033-.134-.251-2.047 0-28.782.275-28.794-4.212-40.643-18.886-54.724Z"/><path fill="url(#i)" d="M168.031 3.53c-5.645-3.938-5.891-4.491-11.357-2.108-9.029 3.944-17.778 3.664-26.55-.123-5.013-2.165-9.164-.84-13.275 2.31 5.001 7.055 9.957 14.148 15.059 21.135.56.767 1.947 1.281 2.965 1.31 5.516.122 11.038.145 16.554-.017 1.057-.034 2.478-.79 3.06-1.656 4.57-6.831 8.973-13.774 13.538-20.845l.006-.005Z"/><path fill="url(#j)" d="M143.656 29.719c5.791 0 11.586-.023 17.376.016 1.516.012 2.853-.508 2.842-3.943-.011-3.234-1.348-3.687-2.73-3.687-11.664-.006-23.334 0-34.998-.011-1.499 0-2.92.593-2.864 3.95.056 3.322 1.494 3.708 2.987 3.697 5.791-.05 11.586-.022 17.376-.022h.011Z"/><path fill="#fff" d="M163.207 76.053c6.333 10.026 6.232 19.329-.101 29.376 1.393 1.091 3.021 2.092 4.308 3.429 1.701 1.768 1.617 3.804-.168 5.522-1.689 1.622-3.608 1.572-5.303.017-1.298-1.192-2.395-2.602-3.743-4.095-9.627 6.17-19.132 6.232-28.603.128-1.477 1.405-2.786 2.736-4.179 3.967-1.857 1.639-3.838 1.622-5.55-.14-1.717-1.774-1.644-3.776.056-5.55 1.22-1.264 2.624-2.349 4.067-3.625-6.109-9.655-6.304-19.07.213-29.28-1.365-1.052-2.976-2.053-4.285-3.357-1.729-1.723-1.779-3.76-.034-5.532 1.74-1.768 3.771-1.785 5.527-.068 1.332 1.298 2.383 2.87 3.581 4.347 9.98-6.405 19.395-6.405 29.347-.028 1.203-1.466 2.271-3.02 3.597-4.313 1.645-1.606 3.586-1.673 5.292-.073 1.796 1.69 1.914 3.715.258 5.533-1.248 1.37-2.797 2.467-4.28 3.742Zm-19.451-1.773c-9.303-.028-16.442 7.038-16.459 16.296-.016 9.264 7.1 16.408 16.358 16.42 9.158.016 16.363-7.25 16.33-16.47-.028-9.063-7.183-16.224-16.235-16.246h.006Z"/></g><g fill-rule="evenodd" class="hand" clip-rule="evenodd"><path fill="url(#k)" d="m19.628 138.293 2.953 1.589c.532-3.928 2.042-8.241 5.611-10.316 4.157-2.406 10.31-2.367 14.635.117l28.486 16.296c2.282-4.425 6.892-7.479 12.201-7.513l41.789-.263c.582-.195 1.13-.38 1.656-.559 6.232-2.115 9.986-3.385 24.458-3.385 12.996 0 40.083 3.508 52.827 16.576l7.754.079c0-7.838 6.098-13.908 13.672-13.908h48.195c7.541 0 13.672 6.143 13.672 13.673v57.649c0 7.541-6.131 13.672-13.672 13.672H225.67c-7.541 0-13.672-6.131-13.672-13.672v-.414h-30.304c-7.877 0-12.733.346-20.772 1.493-26.83 3.821-60.278 7.581-85.34-4.011L6.336 162.359c-13.45-8.346-3.821-33.291 13.297-24.066h-.005Z"/><path fill="url(#l)" d="m11.035 154.796 68.518 42.617c22.517 10.232 53.146 7.01 80.105 3.167 8.52-1.214 13.667-1.584 22.03-1.584h30.304v-39.171l-9.795-.095a4.405 4.405 0 0 1-3.368-1.6c-8.14-9.723-30.506-14.959-47.417-14.959-14.394 0-16.235 1.147-23.988 3.72a4.32 4.32 0 0 1-1.365.219l-42.489.268c-2.685.017-4.873 2.193-4.873 4.839 0 2.982 2.742 4.615 5.281 4.867l54.489 5.427c4.587.458 5.527 6.791 1.264 8.548-14.702 6.086-27.832 8.576-39.78 8.57-21.908 0-39.849-8.352-56.167-18.176l-2.865-1.544-25.543-13.778a4.815 4.815 0 0 0-3.681-.37c-4.565 1.388-2.361 7.983-.677 9.035h.017Z"/><path fill="url(#m)" d="M220.904 208.327a4.764 4.764 0 0 0 4.761 4.761h48.195a4.768 4.768 0 0 0 4.76-4.761v-57.649a4.767 4.767 0 0 0-4.76-4.76h-48.195a4.767 4.767 0 0 0-4.761 4.76v57.649Z"/><path fill="url(#n)" d="m38.402 137.414 31.843 18.215c1.46 5.539 6.416 9.679 12.86 10.322l32.599 3.25c-19.524 3.827-36.022.341-52.262-7.261v-.011L33.898 145.99a4.777 4.777 0 0 1-2.327-2.875c-1.18-3.966 2.014-8.459 6.825-5.695l.006-.006Z"/></g><defs><linearGradient id="h" x1="90.058" x2="197.104" y1="90.618" y2="90.618" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7A7F"/><stop offset="1" stop-color="#FF577F"/></linearGradient><linearGradient id="i" x1="116.844" x2="168.033" y1="13.075" y2="13.075" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7A7F"/><stop offset="1" stop-color="#FF577F"/></linearGradient><linearGradient id="j" x1="163.873" x2="123.28" y1="25.918" y2="25.918" gradientUnits="userSpaceOnUse"><stop stop-color="#077"/><stop offset="1" stop-color="#12AA98"/></linearGradient><linearGradient id="k" x1="287.532" x2="-.003" y1="174.896" y2="174.896" gradientUnits="userSpaceOnUse"><stop stop-color="#077"/><stop offset="1" stop-color="#12AA98"/></linearGradient><linearGradient id="l" x1="9.317" x2="213.328" y1="174.175" y2="174.175" gradientUnits="userSpaceOnUse"><stop stop-color="#8ED7C6"/><stop offset="1" stop-color="#56ADAB"/></linearGradient><linearGradient id="m" x1="221" x2="279" y1="180" y2="180" gradientUnits="userSpaceOnUse"><stop stop-color="#8ED7C6"/><stop offset="1" stop-color="#56ADAB"/></linearGradient><linearGradient id="n" x1="31.465" x2="116.259" y1="153.919" y2="153.919" gradientUnits="userSpaceOnUse"><stop stop-color="#8ED7C6"/><stop offset="1" stop-color="#56ADAB"/></linearGradient></defs></svg>
          <p>I want to receive payments</p>
        </LinkCard>
        <LinkCard href="javascript:void(0)" class="monetize-site"  event="Landing page - Monetize websites">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="285" height="220" fill="none" viewBox="0 0 285 220"><g class="browser"><g filter="url(#o)"><path fill="#F4F6F9" d="M28 22a5 5 0 0 1 5-5h220a5 5 0 0 1 5 5v175a5 5 0 0 1-5 5H33a5 5 0 0 1-5-5V22Z"/></g><mask id="p" width="230" height="185" x="28" y="17" maskUnits="userSpaceOnUse" style="mask-type:luminance"><path fill="#fff" d="M28 22a5 5 0 0 1 5-5h220a5 5 0 0 1 5 5v175a5 5 0 0 1-5 5H33a5 5 0 0 1-5-5V22Z"/></mask><g mask="url(#p)"><g filter="url(#q)"><path fill="url(#r)" d="M28 17h550v30H28z"/></g><path fill="#34C749" fill-rule="evenodd" d="M68 36a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z" clip-rule="evenodd"/><path fill="#FDBC40" fill-rule="evenodd" d="M55 36a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z" clip-rule="evenodd"/><path fill="#FC605C" fill-rule="evenodd" d="M42 36a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z" clip-rule="evenodd"/></g></g><g class="stream"><g class="coin1"><path fill="url(#s)" d="M57 134c8.837 0 16-7.163 16-16s-7.163-16-16-16-16 7.163-16 16 7.163 16 16 16Z"/><path fill="#fff" d="M63.88 112.852c2.202 3.485 2.169 6.72-.035 10.21.487.381 1.051.728 1.495 1.191.593.612.564 1.32-.058 1.918-.588.564-1.253.545-1.841.005-.449-.415-.834-.901-1.302-1.422-3.346 2.145-6.653 2.164-9.945.043-.511.487-.97.95-1.456 1.379-.646.569-1.335.564-1.928-.048-.598-.617-.574-1.311.019-1.928.424-.439.911-.82 1.412-1.259-2.12-3.355-2.193-6.628.073-10.181-.473-.366-1.037-.714-1.49-1.167-.602-.597-.617-1.306-.01-1.923.603-.617 1.312-.622 1.924-.024.463.448.83.998 1.244 1.509 3.47-2.228 6.744-2.228 10.2-.01.42-.511.79-1.051 1.249-1.499.574-.559 1.249-.584 1.841-.024.627.588.666 1.292.092 1.923-.434.477-.974.858-1.49 1.302l.005.005Zm-6.764-.618c-3.235-.009-5.718 2.449-5.722 5.665-.005 3.22 2.468 5.703 5.688 5.708 3.187.004 5.688-2.522 5.679-5.727-.01-3.153-2.497-5.641-5.645-5.65v.004Z"/></g><g class="coin2"><path fill="url(#t)" d="M98 134c8.837 0 16-7.163 16-16s-7.163-16-16-16-16 7.163-16 16 7.163 16 16 16Z"/><path fill="#fff" d="M104.879 112.852c2.203 3.485 2.17 6.72-.034 10.21.487.381 1.051.728 1.495 1.191.593.612.564 1.32-.058 1.918-.588.564-1.253.545-1.841.005-.449-.415-.834-.901-1.302-1.422-3.346 2.145-6.653 2.164-9.945.043-.511.487-.97.95-1.456 1.379-.646.569-1.335.564-1.928-.048-.598-.617-.574-1.311.019-1.928.424-.439.911-.82 1.412-1.259-2.12-3.355-2.193-6.628.073-10.181-.473-.366-1.037-.714-1.49-1.167-.602-.597-.617-1.306-.01-1.923.603-.617 1.312-.622 1.924-.024.463.448.83.998 1.244 1.509 3.47-2.228 6.744-2.228 10.2-.01.42-.511.791-1.051 1.249-1.499.574-.559 1.248-.584 1.841-.024.627.588.666 1.292.092 1.923-.434.477-.974.858-1.49 1.302l.005.005Zm-6.763-.618c-3.235-.009-5.718 2.449-5.722 5.665-.005 3.22 2.468 5.703 5.688 5.708 3.187.004 5.688-2.522 5.679-5.727-.01-3.153-2.497-5.641-5.645-5.65v.004Z"/></g><g class="coin3"><path fill="url(#u)" d="M16 134c8.837 0 16-7.163 16-16s-7.163-16-16-16-16 7.163-16 16 7.163 16 16 16Z"/><path fill="#fff" d="M22.88 112.852c2.202 3.485 2.169 6.72-.034 10.21.486.381 1.05.728 1.494 1.191.593.612.564 1.32-.058 1.918-.588.564-1.253.545-1.841.005-.449-.415-.834-.901-1.302-1.422-3.346 2.145-6.653 2.164-9.945.043-.511.487-.97.95-1.456 1.379-.646.569-1.335.564-1.928-.048-.598-.617-.574-1.311.019-1.928.424-.439.911-.82 1.412-1.259-2.12-3.355-2.193-6.628.073-10.181-.473-.366-1.037-.714-1.49-1.167-.602-.597-.617-1.306-.01-1.923.603-.617 1.312-.622 1.924-.024.463.448.83.998 1.244 1.509 3.47-2.228 6.744-2.228 10.2-.01.42-.511.79-1.051 1.249-1.499.574-.559 1.248-.584 1.841-.024.627.588.666 1.292.092 1.923-.434.477-.974.858-1.49 1.302l.005.005Zm-6.764-.618c-3.235-.009-5.718 2.449-5.723 5.665-.004 3.22 2.469 5.703 5.689 5.708 3.186.004 5.688-2.522 5.679-5.727-.01-3.153-2.497-5.641-5.645-5.65v.004Z"/></g></g><g class="wallet"><path fill="url(#v)" d="m109.346 98.182 47.528-25.828 6.681-3.63c3.246-1.77 7.399-.65 9.176 2.46l15.387 26.998"/><path fill="url(#w)" d="m138.676 63.503-35.823 38.361 56.968-31.193-10.295-7.988c-3.263-2.529-8.065-2.17-10.85.82Z"/><path fill="url(#x)" d="M199.711 98.182H83.484A7.484 7.484 0 0 0 76 105.666v69.323a7.484 7.484 0 0 0 7.484 7.484h116.227a7.485 7.485 0 0 0 7.485-7.484v-69.323a7.485 7.485 0 0 0-7.485-7.484Z"/></g><defs><linearGradient id="r" x1="28" x2="28" y1="17" y2="47" gradientUnits="userSpaceOnUse"><stop stop-color="#fff"/><stop offset="1" stop-color="#FAFBFC"/></linearGradient><linearGradient id="s" x1="41" x2="73.005" y1="118" y2="118" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7A7F"/><stop offset="1" stop-color="#FF577F"/></linearGradient><linearGradient id="t" x1="82" x2="114.005" y1="118" y2="118" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7A7F"/><stop offset="1" stop-color="#FF577F"/></linearGradient><linearGradient id="u" x1="0" x2="32.005" y1="118" y2="118" gradientUnits="userSpaceOnUse"><stop stop-color="#FF7A7F"/><stop offset="1" stop-color="#FF577F"/></linearGradient><linearGradient id="v" x1="109.346" x2="188.126" y1="83.025" y2="83.025" gradientUnits="userSpaceOnUse"><stop stop-color="#FF577F"/><stop offset="1" stop-color="#FF7A7F"/></linearGradient><linearGradient id="w" x1="102.853" x2="159.821" y1="81.428" y2="81.428" gradientUnits="userSpaceOnUse"><stop stop-color="#008897"/><stop offset=".59" stop-color="#009E87"/><stop offset="1" stop-color="#00A880"/></linearGradient><linearGradient id="x" x1="76" x2="207.196" y1="140.328" y2="140.328" gradientUnits="userSpaceOnUse"><stop stop-color="#008897"/><stop offset=".59" stop-color="#009E87"/><stop offset="1" stop-color="#00A880"/></linearGradient><filter id="o" width="244" height="199" x="21" y="10" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset/><feGaussianBlur stdDeviation="3.5"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow_83_92"/><feBlend in="SourceGraphic" in2="effect1_dropShadow_83_92" result="shape"/></filter><filter id="c" width="554" height="34" x="26" y="15" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset/><feGaussianBlur stdDeviation="1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow_83_92"/><feBlend in="SourceGraphic" in2="effect1_dropShadow_83_92" result="shape"/></filter></defs></svg>
          <p>I want to monetize a website</p>
        </LinkCard>
      </div>
    </div>
  </section>
</Base>

<style>
  /* Hero section styles */
  .hero {
    background-image: url("/img/bg-lines--light.svg"), url("/img/bg-tile.svg");
    background-repeat: repeat-x, repeat;
    background-size: 17em, 25em;
    background-position: bottom, center;
    min-height: 30vh;
    display: flex;
    margin-block-end: var(--space-xl);
    padding-block: var(--space-3xl);
  }

  .heroContent {
    margin: auto;
    text-align: center;
  }
  
  .heroLogo {
    max-width: 12em;
    margin-block-end: var(--space-l);
  }

  .heroHeading {
    font-size: var(--step-5);
    line-height: 1.2;
    color: var(--wm-accent);
  }

  p:not(:last-of-type) {
    margin-block-end: var(--space-s);
  }

  .cards {
    display: flex;
    gap: var(--space-s);
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .cards a {
    min-width: 15em;
  }

  @media screen and (min-width: 750px) {
    .cards {
      flex-direction: row;
      align-items: initial;
    }

    .cards a {
      flex: 1;
      min-width: initial;
    }
  }

  .cards svg {
    max-width: 8em;
  }

  .send-money:hover .money {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both, send 1.5s ease-out 0.82s, fadein 0.3s ease-in 2.32s;
  }

  .receive-money:hover .money-bag {
    animation: down 1s cubic-bezier(.65, 1.91, 0, .65) 0s; 
    animation-fill-mode: forwards;
  }

  .monetize-site .wallet {
    opacity: 0;
  }
  .monetize-site .coin1,
  .monetize-site .coin2,
  .monetize-site .coin3 {
    transform: translateX(-50%);
  }
   

  .monetize-site:hover .wallet {
    animation: fadein 0.6s ease-in;
    animation-fill-mode: forwards;
  }

  .monetize-site:hover .coin1,
  .monetize-site:hover .coin3,
  .monetize-site:hover .coin2 {
    animation: loop 3s linear 0.6s infinite;
  }

  @keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes send {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  10% {
    transform: translateX(0);
  }
  35%, 40% {
    transform: translateX(-10px);
  }  
  100% {
    transform: translateX(300%);
  }
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes down {
  from {transform: translateY(-100%)}
  to {transform: translateY(0)}
}

@keyframes loop {
  from {transform: translateX(-50%)}
  to {transform: translateX(25%)}
}
</style>
