---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Base from "../layouts/Base.astro";
import data from "../data/home.json";
import contributors from "../data/contributors.json";
import CardList from "../components/pages/CardList.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const pluginsList = data.plugins.filter(function(plugin){
  return plugin.version.includes("2.0");
});
---
<Base title={t('site.title')} description={t('site.description')}>
  <section class="section hero">
    <div class="contentWrapper">
      <div class="heading-wrapper">
        <h1 class="heading2">
          Welcome to Web Monetization
        </h1>
        <img
          alt=""
          role="presentation"
          class="heroUnderline"
          src="/img/wm-heading-vector.svg"
        />
      </div>
      <div class="heroContent">
        <img
          alt="Web Monetization ..."
          class="heroImg"
          src="/img/hero-animation.svg"
        />
        <p class="heroTagline">
          We seek to empower content owners and users alike by enabling seamless micropayments, fostering a fair and sustainable digital economy, and working on top of traditional advertising and subscription-based revenue models.
        </p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="contentWrapper">
      <div>
        <h2>Wallets</h2>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa</p>
        <p>Do you know other wallets?</p>
        <a>Make a PR</a>
      </div>
      <div>
        <div>Interledger</div>
        <div>GateHub</div>
        <div>Example</div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="contentWrapper">
      <div class="audienceSection">
        <h2 class="heading3">I am a publisher</h2>
        <h3>And I want to be monetized</h3>
        <img
          width=460
          height=460
          class="sectionImg"
          alt="Web Monetization ..."
          src="/img/publishers-hero.png"
        />
        <a class="btn" href="/publisher" data-umami-event="Home page link - Publishers">I want more details</a>
      </div>
      <div class="vertical-divider"></div>
      <div class="audienceSection">
        <h2 class="heading3">I want to support</h2>
        <h3>I have a publisher in mind that I would love to help</h3>
        <img
          width=460
          height=460
          class="sectionImg"
          alt="Web Monetization ..."
          src="/img/supporters-hero.png"
        />
        <a class="btn" href="/supporters" data-umami-event="Home page link - Supporters">I want more details</a>
      </div>
    </div>
    <div class="audienceSection contentWrapper">
      <div class="horizontal-divider"></div>
      <h2 class="heading3">I am a developer</h2>
        <h3>And I want to contribute</h3>
        <img
          width=460
          height=460
          class="sectionImg"
          alt="Web Monetization ..."
          src="/img/dev-hero.png"
        />
        <a class="btn" href="/developers" data-umami-event="Home page link - Developers">I want more details</a>
    </div>
  </section>
</Base>

<style>
/* Hero section styles */
section.hero {
  background-image: url("/img/hero-gradient-background.svg");
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  min-height: calc(100vh - 2.75rem - 2 * var(--spacing-xs));
  padding-block-start: 10rem;
  display: flex;
  flex-direction: column;
}

.hero .contentWrapper {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heroImg {
  max-height: 50vh;
  max-width: 80vw;
  width: auto;
  flex-shrink: 1;     /* allow shrinking if needed */
  object-fit: contain;
  margin-bottom: var(--spacing-lg);
}

.sectionImg {
  max-width: 25rem;
  height:auto;
}

/* Need a 2 x 5 grid to keep aligned */
.audienceSection {
  padding: 2rem;
}

.vertical-divider {
  height: 100%;
  width: 0.25rem;
}
.vertical-divider::after {
  content: url(/img/vertical-accent-line.svg);
  width: 0.25rem;
  height: 100%;
}

.horizontal-divider {
  width: 100%;
  height: 0.25rem;
}
.horizontal-divider::after {
  content: url(/img/horizontal-accent-line.svg);
  height: 0.25rem;
  width: 100%;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  margin-bottom: var(--spacing-lg);
}

.heading-wrapper h1 {
  margin: 0;
}

.heading-wrapper .heroUnderline {
  max-width: 20rem;
}

.heroTagline {
  font: var(--font-h5);
  font-weight: var(--font-weight-normal);
  margin-bottom: var(--spacing-lg);
}

.heading-wrapper img {
  width: 80%;           /* less than heading width */
  max-width: 500px;     /* optional: cap the max width */
  margin-top: 0.5rem;   /* space between text and underline */
  height: auto;         /* preserve aspect ratio */
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.5;
}

.heroIcon {
  width: 120px;
  margin-block-end: var(--space-s);
  margin-inline: auto;
}

/* Card wrapper styles */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  margin-block-end: var(--space-s);
  justify-content: center;
}

/* Tools list styles */
.toolsList {
  justify-content: center;
}

.toolsList a {
  text-align: center;
  cursor: pointer;
}
/* Contributor section styles */
.contributors {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-xs);
  padding: 0;
}

.contributor {
  flex: 0 0 3em;
}

.contributor img {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  section.hero {
    min-height: unset;
  }

  .heading-wrapper .heroUnderline {
  max-width: 18rem;
}

.heroContent {
  flex-direction: column-reverse;
}
}
</style>
