---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Base from "../layouts/Base.astro";
import data from "../data/home.json";
import CardList from "../components/pages/CardList.astro";
import PillTag from "../components/pages/PillTag.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<Base title={t('site.title')} description={t('site.description')}>
  <section class="section hero">
    <div class="contentWrapper">
      <div class="heading-wrapper">
        <h1>
          Welcome to Web Monetization
        </h1>
        <img
          alt=""
          role="presentation"
          src="/img/wm-heading-vector.svg"
          width="442"
          height="23"
        />
      </div>
      <video
        class="hero-video"
        src="/video/hero-animation.webm"
        poster="/img/hero-img.svg"
        autoplay
        muted
        loop
        playsinline
        width="1280"
        height="941"
        aria-hidden="true"
      ></video>
      <p class="heroTagline">
        Web Monetization introduces a new way for content owners and publishers to earn while allowing users to engage on their own terms. By enabling streaming micropayments, Web Monetization complements ads, subscriptions, and memberships, giving publishers more revenue options and users more ways to access and support content.
      </p>
    </div>
  </section>
  <section class="section">
    <div class="contentWrapper">
      <div class="wallet-info">
        <div class="wallet-content">
          <h2 class="font-h3">Wallets</h2>
          <p>
            To send or receive Web Monetization payments, you must have an account with a compatible wallet provider.  These providers offer Web Monetization-enabled wallets that you can use.
          </p>
          <strong>More wallet providers coming soon!</strong>
          <p class="bold">Do you know other wallets?</p>
          <a href="https://github.com/WICG/webmonetization/pulls" target="_blank" rel="noreferrer noopener" data-umami-event="Home page link - GitHub PR" class="btn secondary">
            Make a PR
            <svg viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.25 2.09989C14.0781 1.98868 13.8815 1.92139 13.6775 1.90396C13.4735 1.88652 13.2683 1.91946 13.08 1.99989L6.91 4.42989C6.76407 4.48984 6.60776 4.52042 6.45 4.51989H2.5C2.16848 4.51989 1.85054 4.65159 1.61612 4.88601C1.3817 5.12043 1.25 5.43837 1.25 5.76989V5.86989H0V8.86989H1.25V8.99989C1.25783 9.32619 1.39298 9.63648 1.62656 9.86445C1.86013 10.0924 2.17361 10.22 2.5 10.2199L4 13.3999C4.10157 13.614 4.26148 13.7952 4.46136 13.9225C4.66124 14.0499 4.893 14.1183 5.13 14.1199H5.76C6.08979 14.1173 6.40516 13.9844 6.63743 13.7503C6.86969 13.5161 7.00001 13.1997 7 12.8699V10.3399L13.08 12.7699C13.2297 12.8287 13.3891 12.8592 13.55 12.8599C13.7996 12.8553 14.0426 12.7789 14.25 12.6399C14.4145 12.5288 14.5501 12.3802 14.6458 12.2063C14.7414 12.0324 14.7943 11.8383 14.8 11.6399V3.12989C14.7991 2.92641 14.7485 2.72623 14.6527 2.54673C14.5568 2.36723 14.4186 2.21384 14.25 2.09989ZM5.75 5.76989V8.99989H2.5V5.76989H5.75ZM5.75 12.8699H5.12L3.89 10.2199H5.75V12.8699ZM7.37 9.14989C7.25125 9.08926 7.12745 9.03908 7 8.99989V5.69989C7.1262 5.67366 7.24997 5.63686 7.37 5.58989L13.55 3.12989V11.6099L7.37 9.14989ZM14.83 6.11989V8.61989C15.1615 8.61989 15.4795 8.4882 15.7139 8.25378C15.9483 8.01936 16.08 7.70142 16.08 7.36989C16.08 7.03837 15.9483 6.72043 15.7139 6.48601C15.4795 6.25159 15.1615 6.11989 14.83 6.11989Z"/>
            </svg>
          </a>
        </div>
        {data.wallets.length > 0 && (
        <div class="cards">
          <CardList cards={data.wallets} />
        </div>
      )}
      </div>
    </div>
  </section>
  <section class="section audienceSection">
    <div class="contentWrapper audience-grid">
      <div class="audience-card publisher">
        <div>
          <h2>I am a publisher</h2>
          <h3 class="font-h6">I want to earn from my content</h3>
          <PillTag pills={data.pillTags.publisher} />
        </div>
        <div class="media-cta">
          <img
            width="460"
            height="460"
            class="inactive audience-img"
            aria-hidden="true"
            src="/img/hero-publisher-inactive.png"
            loading="lazy"
          />
          <img
            width="460"
            height="460"
            class="active audience-img"
            aria-hidden="true"
            src="/img/hero-publisher.png"
          />
          <a class="btn primary flexible" href="/publishers" data-umami-event="Home page link - Publishers">Get started as a publisher</a>
        </div>
      </div>
      <div class="divider--vertical"></div>
      <div class="audience-card supporter">
        <div>
          <h2>I want to give my support</h2>
          <h3 class="font-h6">Because great content deserves something in return</h3>
          <PillTag pills={data.pillTags.supporter} />
        </div>
        <div class="media-cta">
          <img
            width="460"
            height="460"
            class="inactive audience-img"
            aria-hidden="true"
            src="/img/hero-supporter-inactive.png"
            loading="lazy"
          />
          <img
            width="460"
            height="460"
            class="active audience-img"
            aria-hidden="true"
            src="/img/hero-supporter.png"
          />
          <a class="btn primary flexible" href="/supporters" data-umami-event="Home page link - Supporters">Support the content I love</a>
        </div>
      </div>
    </div>
    <div class="contentWrapper">
      <div class="divider--horizontal"></div>
      <div class="audience-card developer">
        <div>
          <h2>I am a developer</h2>
          <h3 class="font-h6">I want to help shape the future of the web</h3>
          <PillTag pills={data.pillTags.developer} />
          <a class="btn primary flexible" href="/developers" data-umami-event="Home page link - Developers">Contribute as a developer</a>
        </div>
        <di>
          <img
            width="460"
            height="460"
            class="inactive audience-img"
            aria-hidden="true"
            src="/img/hero-dev-inactive.png"
            loading="lazy"
          />
          <img
            width="460"
            height="460"
            class="active audience-img"
            aria-hidden="true"
            src="/img/hero-dev.png"
          />
        </di>
      </div>
    </div>
  </section>
</Base>

<style>
.section.hero {
  text-align: center;
}
.heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-lg);
}

.heading-wrapper h1 {
  margin: 0;
}

.heading-wrapper img {
  width: 75%;
  max-width: 25rem;
  margin-top: 0.5rem;
  height: auto;
}

.hero-video {
  max-height: 50vh;
  max-width: 80vw;
  object-fit: contain;
  aspect-ratio: 1280 / 941;
  margin-bottom: var(--spacing-lg);
  flex: 1 1 100%;
}

.heroTagline {
  font: var(--font-style-h5);
  margin-bottom: var(--spacing-lg);
}

.wallet-info {
  margin-inline: var(--spacing-md);
  padding: var(--spacing-md);
  background: var(--color-white);
  border-radius: var(--pill-rounding);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--spacing-2xl);
}

.wallet-info .wallet-content {
  display: flex;
  gap: var(--spacing-md);
  flex-direction: column;
  align-items: flex-start;
  flex: 10 1 20rem;
}

.wallet-info a svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  align-items: flex-end;
  flex: 1 1 20rem;
}

.audienceSection {
  margin-inline: var(--spacing-md);
}

.audience-grid {
  display: grid;
  grid-template-columns: 1fr 0.25rem 1fr;
  gap: var(--spacing-xs);
  align-items: start;
  margin-bottom: var(--spacing-xs);
}

.audience-grid > div {
  width: 100%;
  height: 100%;
}

.audience-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-white);
  border-radius: var(--pill-rounding);
  max-width: 100%;
  justify-content: space-between;
}

.audience-card.developer {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.audience-card .btn, .audience-card .media-cta {
  margin-top: var(--spacing-3xl);
}

.audience-card.developer div {
  flex-basis: 50%;
}

.audience-card > div {
  width: 100%;
}

.audience-card .btn {
  width: fit-content;
}

.audience-img {
  max-width: 30vw;
  height: auto;
  object-fit: contain;
  display: block;
}

.active.audience-img {
  display: none;
}

.audience-card {
  padding: 2rem;
  color: var(--inactive-font-color);
}

.audience-card:hover, .audience-card:focus {
  color: var(--default-font-color);
}

.audience-card:hover .active.audience-img, .audience-card:focus .active.audience-img {
  display: block;
}

.audience-card:hover .inactive.audience-img, .audience-card:focus .inactive.audience-img {
  display: none;
}

.audience-card h3 {
  margin-block-end: var(--spacing-lg);
}

.divider--vertical {
  position: relative;
  width: 0.25rem;
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.divider--vertical::before {
  content: "";
  position: absolute;
  top: var(--padding-2xl);
  bottom: var(--padding-2xl);
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to top,
    #7F76B2 12%,
    #F69656 30%,
    #F2797F 59%,
    #9CD6CB 90%
  );
  border-radius: var(--fully-rounded);
}

.divider--horizontal {
  position: relative;
  height: 0.25rem;
  width: 100%;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-xs);
}

.divider--horizontal::before {
  content: "";
  position: absolute;
  left: calc(12.5% + var(--padding-2xl));
  right: calc(12.5% + var(--padding-2xl));
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to left,
    #7F76B2 12%,
    #F69656 30%,
    #F2797F 59%,
    #9CD6CB 90%
  );
  border-radius: var(--fully-rounded);
}

@media screen and (max-width: 767px) {

  .audience-card h2 {
    margin-bottom: var(--spacing-2xs);
  }

  .heading-wrapper img {
    max-width: 16rem;
  }

  .heroTagline {
    margin-bottom: 0;
  }

  .wallet-info {
    grid-template-columns: 1fr;
  }

  .wallet-info .wallet-content {
    flex: 1 1 auto;
  }

  .cards {
    flex: 1 1 auto;
    align-items: stretch;
  }

  .audience-grid {
    grid-template-columns: 1fr;
    gap: var(--spacing-3xl);
    margin-bottom: var(--spacing-3xl);
  }

  .divider--vertical, .divider--horizontal {
    display: none;
  }

  .audience-card {
    color: var(--default-font-color);
    padding: var(--padding-md);
  }

  .audience-card h2 {
    font: var(--font-h3);
  }

  .audience-card.developer div {
    flex-basis: 100%;
  }

  .audience-card .btn {
    width: 100%;
  }

  .inactive.audience-img {
    display: none;
  }

  .audience-card:hover .active.audience-img, .audience-card:focus .active.audience-img {
    display: none;
  }

  .audience-card .media-cta {
    margin-top: 0;
  }
}
</style>
