---
import i18next, { t, changeLanguage } from "i18next";
import Base from "../layouts/Base.astro";

changeLanguage("en");

const title = t("site.title");
const description = t("site.description");
---
<Base title={title} description={description}>
  <section class="hero">
    <div class="heroContent">
      <img
        alt="Web Monetization Logo"
        class="heroLogo"
        src="/img/wm-logo--animated.svg"
      />
      <h2 class="heroHeading">Pay the Web forward</h2>
    </div>
  </section>

  <section class="section">
    <div class="contentWrapperMd">
      <p>Web Monetization is a web technology that enables websites to receive small payments from users/supporters as they interact with the website and its content. It provides a way for creators and website owners to be compensated for their work without relying solely on ads or subscriptions.</p>
      <p>Notably, WM offers two unique features, small payments and no user interaction, which address several important scenarios currently unmet on the web.</p>
      <p>Web Monetization is for consumers of web content who would like to support the creators they value, in other words, folks who would like to pay and be paid on the web.</p>
    </div>
  </section>

  <section class="section">
    <div class="contentWrapperMd">
      <h2 class="heading2">Key Concepts</h2>
      <p>Web Monetization gives users more options and control over who to pay, if and when to pay, as well as how much to pay.</p>
      <p>Being a web technology, folks who build on the web would be able to implement Web Monetization on websites via Javascript APIs. And since Web Monetization is an open standard, any interested party can also become a WM provider if they wish to.</p>
    </div>
  </section>

  <section class="section">
    <div class="contentWrapperMd">
      <img src="/img/wm-intro.svg" alt="Diagram of a mobile device displaying a website and a computer showing the source code of the website emphasing the <link> tag which implements Web Monetization" />
    </div>
  </section>

  <section class="section">
    <div class="contentWrapperMd">
      <h2 class="heading2">Getting Started</h2>
      <p>Regardless of what you want to do with Web Monetization, the start of everything is getting a wallet address. A wallet address is a secure, unique URL that represents an Open Payments-enabled account.</p>
      <p>Similar to how an email address is a publicly shareable ID for an email account, a wallet address is a publicly shareable payment address for the underlying account. You can get a digital wallet from a provider like <a href="https://fynbos.app/">Fynbos</a>.</p>
    </div>
  </section>

  <section class="section">
    <div class="contentWrapperMd">
      <h2 class="heading2">Getting Started</h2>
      
    </div>
  </section>
</Base>

<style>
  /* Hero section styles */
  .hero {
    background-image: url("/img/bg-lines--light.svg"), url("/img/bg-tile.svg");
    background-repeat: repeat-x, repeat;
    background-size: 17em, 40%;
    background-position: bottom, center;
    min-height: 50vh;
    display: flex;
    margin-block-end: var(--space-xl);
    padding-block: var(--space-3xl);
  }

  .heroContent {
    margin: auto;
    text-align: center;
  }
  
  .heroLogo {
    max-width: 12em;
    margin-block-end: var(--space-l);
  }

  .heroHeading {
    font-size: var(--step-5);
    line-height: 1.2;
    color: var(--wm-accent);
  }

  p {
    font-size: var(--step-1);
  }

  p:not(:last-of-type) {
    margin-block-end: var(--space-s);
  }
</style>
