---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Base from "../layouts/Base.astro"
import ExtensionLinks from "../components/ExtensionLinks.astro"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const title = `Install | ${t("site.title")}`
const description = t("site.description")
---
<!-- All changes (including styles) are limited to this page since it is temporary -->

<Base title={title} description={description}>
  <section class="section">
    <div class="contentWrapper">
      <img
        alt="Web Monetization Icon"
        class="wm-icon"
        src="/img/wm-logo--animated.svg"
        width="120"
        height="86"
      />
      <h1 class="heading2">Web Monetization</h1>
    </div>
  </section>
  <section>
    <div class="contentWrapper">
      <div class="cards">
        <div class="card">
          <div class="cardContent">
            <h2 class="heading3">Support content with the web extension</h2>
            <ExtensionLinks includeGitHub utm={{ utm_campaign: 'install_page' }} />
          </div>
        </div>
        <div class="card">
          <div class="cardContent">
            <h2 class="heading3">Get support with a Web Monetization link</h2>
            <h2 class="heading3">
                <a href="/tools/link-tag/">Generate your link tag</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>

<style>
    body {
        background-image: url("/img/bg-tile.svg");
        background-size: 25em;
    }

    section {
        text-align: center;
    }

    .wm-icon {
        width: 120px;
        margin-block-end: var(--space-s);
        margin-inline: auto;
    }

    .heading2 {
        color: var(--wm-accent);
    }

    /* Card wrapper styles */
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-s);
        margin-block-end: var(--space-s);
        justify-content: center;
    }

    .card {
        display: flex;
        transition:
        box-shadow 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        position: relative;
        overflow: initial;
        box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.06),
        0px 2px 10px hsla(0, 0%, 0%, 0.06);
        border-radius: 6px;
        padding: var(--space-s);
        background-color: white;
        flex: 0 1 100%;
        max-width: 25em;
        gap: var(--space-s);
        font-size: var(--step-0);
        margin-block-end: var(--space-s);
        color: var(--color-black);
    }

    @media screen and (min-width: 900px) {
        .card {
        flex: 0 1 calc(50% - 1em);
        }
    }

    .card::after {
        content: "";
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .card:hover::after {
        opacity: 1;
    }
</style>
