---
import i18next, { t, changeLanguage } from "i18next";
import Base from "../layouts/Base.astro";
import LinkTagGenerator from "../components/pages/LinkTagGenerator";
import "../styles/legal.css";

changeLanguage("en");

const title = `Privacy Policy | ${t("site.title")}`;
const description = t("site.description");
---
<Base title={title} description={description}>
  <section class="section">
    <div class="contentWrapperMd">
      <a href="https://www.iubenda.com/privacy-policy/95080147" class="iubenda-white no-brand iubenda-noiframe iubenda-embed iub-no-markup iubenda-noiframe iub-body-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
  </section>
</Base>
