---
import i18next, { t, changeLanguage } from "i18next";
import Base from "../layouts/Base.astro";
import ProbRevshareGenerator from "../components/pages/ProbRevshare";

changeLanguage("en");

const title = `Probabilistic Revshare Generator | ${t("site.title")}`;
const description = t("site.description");
---
<Base title={title} description={description}>
  <section class="section">
    <div class="contentWrapperMd">
      <h1 class="heading2">Probabilistic Revshare Generator</h1>
      <p>Probabilistic revenue sharing (revshare) is one way to share a portion of a web monetized page’s earnings between multiple payment pointers.</p> 
      <p>Use this tool to define a list of payment pointers and their weights. Then, add the generated monetization <code>link</code> element to your site. The <code>link</code> will contain a unique URL hosted on <code>https://webmonetization.org/api/revshare/pay/</code>. If you'd prefer to not use a hosted URL, you can set up revshare by <a href="/docs/tutorials/revenue-sharing" target="_blank" data-umami-event="Revshare page - Revshare guide">adding a script to your site</a>.</p>
      <h2 class="heading3">Define a new revshare</h2>
      <p>Enter each payment pointer that will receive a split of the revenue into the table below. Names are optional. Click <b>Add Share</b> to add more rows.</p>
      <p>You can adjust by percent after two payment pointers are added to the table. Updating one field will update the remaining fields automatically.</p>
      <p>As you adjust weights and percentages, the <code>link</code> element generated below will change. Don’t copy the <code>link</code> until you’re finished. Then, <a href="/docs/developers/get-started" target="_blank" data-umami-event='Revshare page - Monetization guide'>add the link</a> to your site.</p>
      <ProbRevshareGenerator client:load />
    </div>
  </section>
</Base>

<style>
  body {
    background-image: url('/img/bg-tile.svg');
    background-size: 25em;
  }

  p {
    margin-block-end: var(--space-s);
  }
</style>
