---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import Base from '../layouts/Base.astro'
import data from '../data/publishers.json'
import AudienceHero from '../components/pages/AudienceHero.astro'
import HowItWorks from '../components/pages/HowItWorks.astro'
import SplitLayout from '../components/pages/SplitLayout.astro'
const heroContent = {
  ...data.heroContent,
  pills: data.publisherTags,
}

const walletConnectionContent = data.walletConnectionContent

const toolsContent = data.toolsContent

const WordPressPluginContent = data.WordPressPluginContent

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Base
  title={t('pages.publishers.title')}
  description={t('pages.publishers.description')}
>
  <AudienceHero content={heroContent} />
  <HowItWorks>
    <p>
      To receive Web Monetization payments, you’ll need an account with a
      compatible digital wallet provider. Once you have your wallet address, use
      the link generator tool to create a Web Monetization <code
        >&lt;link&gt;</code
      > element and add it to each page you want to monetize. Visitors with the Web
      Monetization browser extension can then stream payments to you at a rate and
      frequency they choose.
    </p>
  </HowItWorks>
  <SplitLayout content={walletConnectionContent}>
    <p>
      Encourage your visitors to support you through Web Monetization. Add
      visually appealing and user-friendly elements to your site to get the word
      out. No coding skills needed.
    </p>
    <p>
      Promote Web Monetization as a model for users to support your website!
    </p>
  </SplitLayout>
  <SplitLayout content={toolsContent}>
    <p>
      Monetizing your website is simple and requires just one line of code. Use
      your wallet address with the link tag generator to create a <code
        >&lt;link&gt;</code
      > element, then add it to the pages you want to monetize.
    </p>
  </SplitLayout>
  <SplitLayout content={WordPressPluginContent}>
    <p>
      Get started with Web Monetization on WordPress using our new WordPress
      plugin, built to help you earn while keeping your content open and your
      audience’s privacy intact. Add a wallet address, choose what to monetize,
      and you’re ready in minutes. No coding needed, just one simple plugin!
    </p>
  </SplitLayout>
</Base>
