.tableWrapper {
  overflow-x: auto;
  margin-block-end: var(--space-xs);
  box-shadow: var(--sl-shadow-sm);
  border-radius: var(--border-radius);
}

.revShareTable .input.input {
  border: 0;
  border-radius: 0;
  border-block-end: 1px solid;
  padding: var(--space-3xs);
  transition: box-shadow 200ms ease-in;
  width: 100%;
}

.revShareTable input[disabled].input.input {
  border: 0;
  border-radius: 0;
  border-block-end: 1px dotted;
  cursor: not-allowed;
}

.revShareTable input:focus {
  box-shadow: 0 -1px 0 var(--sl-color-accent) inset;
  outline: none;
}

.weightCell input[type='number'].input,
.percentCell input[type='number'].input {
  border: 0;
  border-radius: 0;
  border-block-end: 1px solid;
  width: 4em;
}

.removeCell.removeCell {
  vertical-align: middle;
  text-align: center;
  width: 2em;
}

.removeCell button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.removeCell button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.shareInputBtns {
  margin-block-end: var(--space-m);
}

.importControls {
  margin-block-start: var(--space-xs);
}

.importSharesButton.importSharesButton {
  margin-inline-start: var(--space-xs);
}

.text {
  margin-block-end: var(--space-s);
}

.importWrapper textarea {
  width: 100%;
}

.error {
  font-size: var(--step--1);
  color: var(--sl-color-red-high);
}

.revShareChart {
  margin-block-end: var(--space-m);
}
