.revShareTable {
  margin-bottom: var(--space-xs);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.revShareTable td,
.revShareTable th {
  vertical-align: top;
  padding: var(--space-2xs);
  border: 1px solid var(--color-table-border);
}

.revShareTable th {
  text-align: left;
}

.revShareTable input {
  border: 0;
  border-bottom: 1px solid;
  padding: var(--space-3xs);
  transition: box-shadow 200ms ease-in;
}

.revShareTable input[disabled] {
  border-bottom: 1px dotted;
  cursor: not-allowed;
}

.revShareTable input:focus {
  box-shadow: 0 -1px 0 var(--color-accent) inset;
  outline: none;
}

.weightInput,
.percentInput {
  width: 5em;
}

.nameCell {
  width: 15em;
}

.sharePointerInput {
  width: 20em;
}

.weightCell,
.percentCell {
  width: 6em;
}

.removeCell.removeCell {
  vertical-align: middle;
}

.removeCell button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.removeCell button[disabled] {
  cursor: not-allowed;
}

.shareInputBtns {
  margin-bottom: var(--space-m);
}

.importControls {
  margin-top: var(--space-xs);
}

.importSharesButton.importSharesButton {
  margin-left: var(--space-xs);
}

.text {
  margin-bottom: var(--space-s);
}

.importWrapper textarea {
  width: 100%;
}

.error {
  font-size: var(--step--1);
  color: maroon;
}
