.codeBlock {
  position: relative;
  margin-block-end: var(--space-s);
}

.pre {
  padding: var(--space-xs);
  border-radius: var(--border-radius);
  overflow: auto;
}

.btn {
  position: absolute;
  top: var(--space-2xs);
  right: var(--space-2xs);
  border: 1px solid var(--sl-color-gray-5);
  border-radius: var(--border-radius);
  padding: var(--space-3xs);
  transition: opacity 150ms ease-in;
  opacity: 0;
  cursor: pointer;
}

.btnIcons {
  display: flex;
  height: 1.125rem;
  position: relative;
  width: 1.125rem;
}

.codeBlock .btn:focus-visible,
.codeBlock .btn:hover,
.codeBlock .copied {
  opacity: 1;
}

.codeBlock:hover button {
  opacity: 0.4;
}

.btnSuccessIcon,
.btnIcon {
  fill: currentColor;
  height: inherit;
  left: 0;
  opacity: inherit;
  position: absolute;
  top: 0;
  transition: all 200ms ease;
  width: inherit;
}

.btnSuccessIcon {
  color: var(--sl-color-green-high);
  left: 50%;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.33);
  margin-block-start: 0;
}

.copied .btnSuccessIcon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 75ms;
}

.copied .btnIcon {
  opacity: 0;
  transform: scale(0.33);
}
