.browserCompat table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 1rem 0;
  width: 100%;
}

.browserCompat th {
  background: inherit;
  padding: 0.25rem 0.75rem;
  width: 2rem;
  text-align: center;
  vertical-align: bottom;
}

.browserCompat th,
.browserCompat td {
  border: 1px solid var(--sl-color-hairline-light);
  font-size: 0.75rem;
}

.browserCompat th code {
  white-space: nowrap;
}

.browserCompat tbody th {
  vertical-align: middle;
}

.browserCompat tbody td {
  text-align: center;
  padding: 0.25rem 0;
  vertical-align: top;
}

.browserCompat tbody td img {
  margin-left: auto;
  margin-right: auto;
}

.platforms {
  height: 2em;
}

.platforms th {
  vertical-align: revert;
}

.platforms th img {
  margin-left: auto;
  margin-right: auto;
}

.browserLabel {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  line-height: 1;
  position: relative;
  padding-top: 0.5rem;
  margin-left: 2px;
}

.browser::after {
  height: 1.25em;
  width: 1.25em;
  display: block;
}

.browserChrome::after {
  content: url(/img/browser-chrome.svg);
}

.browserEdge::after {
  content: url(/img/browser-edge.svg);
}

.browserFirefox::after {
  content: url(/img/browser-firefox.svg);
}

.browserIe::after {
  content: url(/img/browser-ie.svg);
}

.browserOpera::after {
  content: url(/img/browser-opera.svg);
}

.browserPuma::after {
  content: url(/img/browser-puma.svg);
}

.browserSafari::after {
  content: url(/img/browser-safari.svg);
}

.browserSamsung::after {
  content: url(/img/browser-samsung.svg);
}

.browserWebview::after {
  content: url(/img/browser-webview.svg);
}

.feature div {
  align-items: baseline;
  display: inline-flex;
  width: 100%;
}

.legend {
  display: flex;
  flex-wrap: wrap;
}

.legendItem.legendItem {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  margin-top: 0;
  margin-right: var(--space-s);
}

.legendItem.legendItem dd {
  padding-inline-start: var(--space-3xs);
}

.iconGreen {
  filter: invert(20%) sepia(98%) saturate(2364%) hue-rotate(143deg)
    brightness(92%) contrast(102%);
}

.iconRed {
  filter: invert(6%) sepia(98%) saturate(7375%) hue-rotate(340deg)
    brightness(120%) contrast(100%);
}
