.wrapper {
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.wrapper astro-slot span {
  text-decoration: underline dotted;
  text-underline-offset: 2px;
}

.toggle.toggle {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0 var(--space-3xs);
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline dotted;
  position: absolute;
  bottom: 10px;
  right: -12px;
  cursor: pointer;
  user-select: none;
}

.bubble {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 100%;
  background-color: var(--sl-color-bg-nav);
  border: 1px solid var(--sl-color-hairline);
  padding: var(--space-2xs);
  border-radius: var(--border-radius);
  line-height: 1.25;
  width: 15em;
}
