.specification.specification table {
  border: 1px solid var(--color-table-border);
  border-collapse: collapse;
  width: 100%;
  margin-top: var(--space-m);
  display: table;
}

.specification tr:nth-child(odd) th {
  background-color: var(--color-table-bg);
}

.specification th,
.specification td {
  border: 1px solid var(--color-table-border);
  padding: 0.5rem 0.75rem;
  vertical-align: middle;
}

.specification th {
  background: var(--color-table-bg-alt);
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}
