.specification.specification table {
  border-collapse: collapse;
  margin-top: var(--space-m);
}

.specification tr:nth-child(even) td {
  background-color: var(--sl-color-gray-7);
}

.specification th,
.specification td {
  vertical-align: middle;
}

.specification th {
  background-color: var(--sl-color-gray-7);
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}
