.specifications table {
  display: table;
  width: 100%;
}

.specifications table th,
.specifications table td {
  padding: 0.5rem 0.75rem;
}

.specifications table th {
  text-align: left;
  background-color: #fbfbfe;
}

.specifications a span {
  font-size: smaller;
}
